<div *ngIf="showPopup" id="settings-container" (click)="backgroundClick()">
  <div id="settings-screen"></div>
  <div id="popup-box" (click)="stopProp($event)">
    <div *ngIf="isPaying" class="popup-inner">
      <mat-icon class="close-icon" (click)="backgroundClick()">close</mat-icon>
      <div class="title">все получилось!</div>
      <div class="message">
        Теперь курс появится в Вашем личном кабинете.<br>
        Там же вы найдете все необходимые ссылки и инструкции.<br>
        Если возникнут какие-то вопросы, напишите нам! Форма<br>
        обратной связи на странице «контакты».
        <br>
        <br>
        Чтобы учеба была эффективной, рекомендуем посещать<br>
        все занятия и выполнять домашние задания.<br>
        <div class="bolder">До встречи в зуме!</div>
        <div class="circle-container">
          <div class="white-circle" routerLink="/student">в кабинет</div>
        </div>
      </div>
    </div>
    <div *ngIf="!isPaying" class="popup-inner">
      <div class="message">
        <div class="bolder">
          Здравствуйте! Нам очень жаль, что вам пришлось покинуть<br>
          страну и вашим детям пришлось прервать учебу.<br>
          Или вы оказались отрезаны от систем образования по какой-то<br>
          другой причине. Надеемся, скоро все наладится!<br>
          Добро пожаловать на курс!
        </div>
        <br>
        Если вы нажали на кнопку “не могу оплачивать” по ошибке и у вас все в<br>
        порядке - мы вам тоже очень рады, но вернитесь, пожалуйста на шаг назад.<br>
        Спасибо за понимание. Ваши донаты для нас - единственный источник<br>
        финансирования! Большое спасибо!
      </div>
      <div class="buttons-row">
        <div class="circle-container">
          <div class="white-circle" (click)="backgroundClick()">назад</div>
        </div>
        <div class="circle-container">
          <div class="white-circle" routerLink="/student">продолжить</div>
        </div>
      </div>

    </div>
  </div>
</div>