#settings-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#settings-screen {
  position: absolute;
  height: 140%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(37, 16, 43);
  opacity: 0.7;
  z-index: 11;
}

#popup-box {
  position: absolute;
  margin-top: 178px;
  background: white;
  border: 11px solid #d8d7e1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  border-radius: 5px;
  line-height: 120%;
  font-size: 20px;
  background: #d8d7e1;
  z-index: 12;
}

.popup-inner {
  width: 533px;
  height: 315px;
  border: 1px solid rgb(37, 16, 43);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.title {
  color: #71284b;
  font-size: 32px;
  padding-bottom: 20px;
  font-family: "Zhizn";
}

.message {
  font-weight: 300;
  text-align: center;
  font-size: 18px;
}

.bolder {
  font-weight: 400;
}