<div *ngIf="showPopup" id="settings-container" (click)="backgroundClick()">
  <div id="settings-screen"></div>
  <div id="popup-box" (click)="stopProp($event)">
    <div *ngIf="isPaying" class="popup-inner">
      <div class="title">все получилось!</div>

      Теперь курс появится в Вашем личном кабинете.
      Там же вы найдете все необходимые ссылки и инструкции.
      Если возникнут какие-то вопросы, напишите нам! Форма
      обратной связи на странице «контакты».
      <br>
      Чтобы учеба была эффективной, рекомендуем посещать
      все занятия и выполнять домашние задания.
      До встречи в зуме!
    </div>
    <div *ngIf="!isPaying" class="popup-inner">
      Здравствуйте! Нам очень жаль, что вам пришлось покинуть
      страну и вашим детям пришлось прервать учебу.
      Или вы оказались отрезаны от систем образования по какой-то
      другой причине. Надеемся, скоро все наладится!
      Добро пожаловать на курс!

      Если вы нажали на кнопку “не могу оплачивать” по ошибке и у вас все в
      порядке - мы вам тоже очень рады, но вернитесь, пожалуйста на шаг назад.
      Спасибо за понимание. Ваши донаты для нас - единственный источник
      финансирования! Большое спасибо!
    </div>
  </div>
</div>