<div *ngIf="showPopup" id="settings-container" (click)="backgroundClick()">
  <div id="settings-screen"></div>
  <div id="popup-box" (click)="stopProp($event)">
    <div *ngIf="isPaying" class="popup-inner">
      <mat-icon class="close-icon" (click)="backgroundClick()">close</mat-icon>
      <div class="title">все получилось!</div>
      <div class="message">
        Теперь курс появится<br class="desktop-none"> в Вашем личном кабинете.<br>
        Там же вы найдете<br class="desktop-none"> все необходимые ссылки<br class="desktop-none"> и инструкции.<br class="mobile-none">
        Если возникнут<br class="desktop-none"> какие-то вопросы, напишите<br class="desktop-none"> нам! Форма<br class="mobile-none">
        обратной связи на <br class="desktop-none">странице «контакты».
        <br>
        <br>
        Чтобы учеба была<br class="desktop-none"> эффективной, рекомендуем<br class="desktop-none"> посещать<br class="mobile-none">
        все занятия и<br class="desktop-none"> выполнять домашние задания.<br>
        <div class="bolder">До встречи в зуме!</div>
        <img id="animal" class="desktop-none" src="/assets/images/Animal.png" />
        <div class="circle-container">
          <div class="white-circle" routerLink="/student">в кабинет</div>
        </div>
      </div>
    </div>
    <div *ngIf="!isPaying" class="popup-inner">
      <div class="message">
        <div class="bolder">
          Здравствуйте!<br class="desktop-none"> Нам очень жаль, что вам<br class="desktop-none"> пришлось покинуть<br class="mobile-none">
          страну<br class="desktop-none"> и вашим детям пришлось<br class="desktop-none"> прервать учебу.<br class="mobile-none">
          Или вы<br class="desktop-none"> оказались отрезаны от систем<br class="desktop-none"> образования по какой-то<br class="mobile-none">
          другой<br class="desktop-none"> причине. Надеемся, скоро<br class="desktop-none"> все наладится!<br>
          Добро пожаловать на курс!
        </div>
        <br>
        Если вы нажали на кнопку<br class="desktop-none"> “не могу оплачивать”<br class="desktop-none"> по ошибке и у вас все в<br class="mobile-none">
        порядке -<br class="desktop-none"> мы вам тоже очень рады,<br class="desktop-none"> но вернитесь, пожалуйста на шаг<br class="desktop-none"> назад.<br class="mobile-none">
        Спасибо за понимание. Ваши<br class="desktop-none"> донаты для нас - единственный<br class="desktop-none"> источник<br class="mobile-none">
        финансирования! Большое спасибо!
      </div>
      <div class="buttons-row">
        <div class="circle-container">
          <div class="white-circle" (click)="backgroundClick()">назад</div>
        </div>
        <div class="circle-container">
          <div class="white-circle" routerLink="/student">продолжить</div>
        </div>
      </div>

    </div>
  </div>
</div>