<div id="container">
  Hello admin!
  <br />
  <br />
  Actions:
  <br />
  <br />
  Annoying notification to all teachers:&nbsp; &nbsp;
  <div id="annoying">
    <div>
      text:
      <input type="text" [(ngModel)]="annoyingText" />
    </div>
    <div>
      color:
      <input type="text" [(ngModel)]="annoyingColor" />
    </div>
    <div>
      font size:
      <input type="text" [(ngModel)]="annoyingSize" />
    </div>
    <button (click)="submit()">Save</button>
    <div *ngIf="saved">Saved!</div>
  </div>

  <br />
  Preview:
  <div [style.color]="annoyingColor" [style.font-size]="annoyingSize">
    &nbsp;{{ annoyingText }}
  </div>
  <a routerLink="/teacher"><u>Go to teacher page</u></a>
  <br />
  <br />
  Stats:
  <br />
  <br />
  Courses on the site: {{ adminDataService.lectures.length }}
  <div *ngFor="let lecture of adminDataService.lectures; let i = index" style="display: flex;padding: 20px;">
    <div>{{i+1}} {{lecture.title}}</div>
    <button style="margin: 0 10px;" [routerLink]="'/admin/course/'+lecture.id">edit</button>
  </div>
</div>
