<div class="wpb_column vc_column_container vc_col-sm-12" id="background">
  <div class="vc_column-inner">
    <div class="wpb_wrapper">
      <div class="wpb_raw_code wpb_content_element wpb_raw_html">
        <div class="wpb_wrapper">
          <img
            id="top-flower"
            class="mobile-none"
            src="/assets/images/top-flower.png"
          />
        </div>
      </div>

      <div
        class="wpb_text_column wpb_content_element contact-title zoom-out"
        id="top-title"
      >
        <div class="wpb_wrapper">
          <p>Контакты</p>
        </div>
      </div>
      <div id="contact-container" class="vc_row wpb_row vc_inner vc_row-fluid">
        <div class="zoom-out wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element" id="subtitle">
                <div class="wpb_wrapper">
                  <p>
                    Друзья!<br />
                    Пока налаживаем систему личных кабинетов,<br />
                    школа работает через телеграм:
                  </p>
                </div>
              </div>
              <div class="space85"></div>
              <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                <div class="wpb_wrapper">
                  <a
                    href="https://t.me/nomadic_tardigrade"
                    id="telegram-container"
                  >
                    <div id="main-telegram-button"></div>
                  </a>
                </div>
              </div>
              <div class="space85"></div>
              <div class="wpb_text_column wpb_content_element contact-title">
                <div class="wpb_wrapper">
                  <p>Наши главные</p>
                </div>
              </div>
              <div class="space100"></div>
              <div
                class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1656415809989"
              >
                <div class="wpb_wrapper">
                  <div id="faces-container">
                    <img
                      class="separator"
                      src="/assets/images/long-separator.png"
                    />
                    <div class="mobile-none">
                      <div class="face-container">
                        <img src="/assets/images/anya.png" />
                        <div class="space14"></div>
                        <div class="name">Аня Зиндер</div>
                        <div class="space14"></div>
                        <div class="subtitle">Про принципы образования:</div>
                        <div class="space24"></div>
                        <a href="https://t.me/annazinder" target="_blank">
                          <div class="telegram-button"></div>
                        </a>
                      </div>
                      <div class="mobile-sparator"></div>
                    </div>
                    <img
                      class="separator"
                      src="/assets/images/long-separator.png"
                    />
                    <div class="face-container">
                      <img src="/assets/images/sonya.png" />
                      <div class="space14"></div>
                      <div class="name">Соня Велле</div>
                      <div class="space14"></div>
                      <div class="subtitle">По всем вопросам сюда!</div>
                      <div class="space24"></div>
                      <a href="https://t.me/sophya_welle" target="_blank">
                        <div class="telegram-button"></div>
                      </a>
                    </div>
                    <img
                      class="separator"
                      src="/assets/images/long-separator.png"
                    />
                    <div class="mobile-sparator"></div>

                    <div class="desktop-none">
                      <img
                        class="separator"
                        src="/assets/images/long-separator.png"
                      />
                      <div class="face-container">
                        <img src="/assets/images/anya.png" />
                        <div class="space14"></div>
                        <div class="name">Аня Зиндер</div>
                        <div class="space14"></div>
                        <div class="subtitle">Про принципы образования:</div>
                        <div class="space24"></div>
                        <a href="https://t.me/annazinder" target="_blank">
                          <div class="telegram-button"></div>
                        </a>
                        <img
                          class="separator"
                          src="/assets/images/long-separator.png"
                        />
                      </div>
                    </div>
                    <div class="mobile-sparator"></div>

                    <div class="face-container">
                      <img src="/assets/images/yulia.png" />
                      <div class="space14"></div>
                      <div class="name">Юля Сорин</div>
                      <div class="space14"></div>
                      <div class="subtitle">По техническим вопросам:</div>
                      <div class="space24"></div>
                      <a href="https://t.me/Yulia_Sorin" target="_blank">
                        <div class="telegram-button"></div>
                      </a>
                    </div>
                    <img
                      class="separator"
                      src="/assets/images/long-separator.png"
                    />
                  </div>
                </div>
              </div>
							<div class="space145 mobile-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
