#background {
  background-color: #380623;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: scroll;
}

#top-flower {
  position: absolute;
  top: 0;
  left: 5%;
  height: 61vh;
  max-height: 1260px;
}

#contact-container {
  width: 100%;
  text-align: center;
  padding-top: 7px;
  color: #d7ccd3;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.subtitle {
  font-size: 20px;
  line-height: 1;
}

#telegram-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  border: 1px solid white;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin-top: 33px;
}

.white-circle {
  font-family: "Zhizn";
  background: white;
  color: #380623;
  font-size: 18px;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #380623;
  line-height: 130%;
}

.white-circle-text {
  padding-top: 10px;
}

.white-circle:hover {
  background: #380623;
  color: white;
}

#top-title {
  font-size: 34px;
  margin-top: 122px;
}

@media screen and (max-width: 1260px) {
  #contact-container {
    top: 160px;
  }
}


@media screen and (max-width: 1260px) {
  .mobile-none {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  .desktop-none {
    display: none;
  }
}

