<div id="background">
  <img
    id="top-flower"
    class="mobile-none"
    src="/assets/images/top-flower.png"
  />

  <div class="contact-title" id="top-title">
    <div>
      <p>Друзья!</p>
    </div>
  </div>
  <div id="contact-container">
    <div id="subtitle">
      Всю актуальную информацию<br />
      о работе школы, изменения в расписании,<br />
      анонс новых курсов<br />
      ищите в нашем телеграм канале
    </div>

    <a href="https://t.me/nomadic_tardigrade" id="telegram-container">
      <div class="circle-container">
        <div class="white-circle">
          <div class="white-circle-text">телеграм канал</div>
        </div>
      </div>
    </a>

    <div class="form-container">
      <div class="form">
        <div class="form-title">обратная связь</div>
        <input placeholder="Имя Фамилия"/><br>
        <input placeholder="Ваш e-mail"/>
      </div>
      
      <img id="stamp" src="/assets/images/stamp.png"/>
    </div>

    <div class="textarea-center">
      <div class="textarea-container">
        <textarea></textarea>
      </div>
      <div id="animal-container">
        <img id="animal" src="/assets/images/Animal.png" />
      </div>
    </div>





    
  </div>
</div>
