<div id="background">
  <img
    id="top-flower"
    class="mobile-none"
    src="/assets/images/top-flower.png"
  />

  <div class="contact-title" id="top-title">Друзья!</div>
  <div id="contact-container">
    <div id="subtitle">
      Всю актуальную информацию<br />
      о работе школы, изменения<br class="desktop-none"/> в расписании,<br class="mobile-none"/>
      анонс новых курсов<br />
      ищите в нашем телеграм канале
      <br class="desktop-none"/>
      <br class="desktop-none"/>
      <br class="desktop-none"/>
    </div>

    <a href="https://t.me/nomadic_tardigrade" class="telegram-container">
      <div id="mobile-animal-container" class="desktop-none">
        <img id="mobile-animal" src="/assets/images/Animal.png" />
      </div>
      <div class="circle-container">
        <div class="white-circle">
          <div class="white-circle-text">телеграм канал</div>
        </div>
      </div>
    </a>

    <div class="form-container">
      <div class="form">
        <div class="form-title">обратная связь</div>
        <input placeholder="Имя Фамилия" /><br />
        <input placeholder="Ваш e-mail" />
      </div>

      <img id="stamp" class="mobile-none" src="/assets/images/stamp.png" />
    </div>

    <div class="textarea-center">
      <div class="textarea-container">
        <textarea></textarea>
      </div>
      <div id="animal-container">
        <img id="animal" src="/assets/images/Animal.png" />
      </div>
      <div id="submit-button-container">
        <div class="circle-container">
          <div class="white-circle">
            <div class="white-circle-text">отправить</div>
          </div>
        </div>
      </div>
    </div>

    <div id="bottom-part">
      <div class="bottom-title">также можно написать директору</div>
      <div id="first-bottom-text" class="bottom-text">
        Соня Велле - сооснователь школы
      </div>
      <div id="contact-links" class="bottom-text">
        <a src="mailto:sophya.welle@gmail.com">
          <img id="envelop" src="/assets/images/envelop.png" />
          <div>sophya.welle@gmail.com</div>
        </a>
        <a src="https://t.me/sophya_welle" target="_blank">
          <img id="telegram-icon" src="/assets/images/Telegram.png" />
          @sophya_welle
        </a>
      </div>

      <div class="telegram-container bottom-telegram">
        <a
          id="telegram-wrapper"
          src="https://t.me/sophya_welle"
          target="_blank"
        >
          <img id="telegram-button" src="/assets/images/Telegram.png" />
        </a>
      </div>

      <div class="bottom-title">подписывайтесь на наши группы</div>
      <div class="bottom-text">
        Здесь мы рассказываем о новостях школы,<br />
        новых уроках, публикуем истории и многое другое
      </div>
      <div id="footer-container">
        <a href="https://instagram.com/nomadic_tardigrade"
          ><img src="/assets/images/instagram-icon.png"
        /></a>
        <a href="https://t.me/nomadic_tardigrade"
          ><img src="/assets/images/Telegram-footer.png"
        /></a>
        <a href="https://www.facebook.com/NomadicTardigrada/"
          ><img src="/assets/images/facebook-icon.png"
        /></a>
      </div>
    </div>
  </div>
</div>
