<div class="container">
  <div class="inner">
    <div class="title main-title zhizn">тардиграда идет в школу</div>

    <div class="title second-title zhizn">
      общеобразовательная программа
      <br />2024-2025
    </div>

    <div class="block first-block">
      <div class="left-part">
        <div>Друзья! мы открываем набор</div>
        <br />
        <div class="zhizn numbers">в 1, 5, 6, 7 и 8 Классы</div>
      </div>

      <div class="right-part">
        <img class="group" src="/assets/images/group.png" />
      </div>
    </div>

    <div class="block second-block">
      <div class="left-part">
        <div class="button-wrapper">
          <a
            href="https://docs.google.com/forms/d/1A61UshBHshmaAXF2Fo68xukZOLvTqAXyzPVk6GV2l0E/edit?pli=1#settingshttps://docs.google.com/forms/d/e/1FAIpQLSfJDzIPVGUgyYCbrwtOi3zkno6UEoENkjbnEswxTmpvvEPzWQ/viewform"
            class="button-under-schedule zhizn"
          >
            <div class="button-text">анкета<br />предзаписи</div>
          </a>
        </div>
      </div>

      <div class="right-part align-right">
        <div class="zhizn secondary-title">Начало занятий</div>
        <div class="to-right-text">
          1 сентября 2024 года <br />Обучение в онлайн формате, <br />5 дней в
          неделю <br />в первой половине дня <br />по среднеевропейскому
          времени. <br />С 1 сентября по 30 мая. <br />Даты каникул уточним в
          начале учебного года.
        </div>
      </div>
    </div>

    <div class="block third-block">
      <div class="left-part">
        <div class="zhizn secondary-title">программа</div>
        <div class="program">
          Основная часть учебного плана основана на программе средней школы по
          системе IB. <br />Она включает в себя шесть блоков дисциплин:
          <br />
          <br />Математика <br />Язык (английский) <br />Литература
          <br />Естественные науки <br />Искусство <br />Дизайн <br />Физическая
          подготовка
          <br />
          <br />Все занятия проходят по принципу<br />
          ориентирования на учеников. <br />В эту программу будут интегрированы
          дополнительные часы более глубокого академического уровня.
          <br /><br />русский/украинский как родной <br />второй иностранный
          язык по выбору <br />углубленная математика <br />лекции по
          естественным наукам <br />лингвистика
          <br />
          <br />Часть занятий будет проходить на английском языке.
          <br />Основной язык: русский.
          <br />
          <br />По окончанию средней школы дети получат все знания и
          <br />необходимые инструменты, чтобы продолжить образование в старших
          классах в России, Европе, США или в школах системы IB.
          <br />
          <br />Занятия в разных форматах — лекции, семинары,
          <br />предзаписанные видео, аудио и печатные материалы. <br />Мы также
          позаботимся о том, чтобы наши ученики не засиживались у мониторов, а
          читали книжки,<br />
          дружили и вели активный образ жизни.
          <br />
          <br />Занятия проходят в группах до 10 человек, у каждой группы будет
          свой куратор, а у каждого ученика - свой личный тьютор.
        </div>
      </div>

      <div class="right-part">
        <img id="gladiolus" src="/assets/images/gladiolus.png" />
      </div>
    </div>

    <div class="center-block">
      <div class="zhizn center-block-title secondary-title">
        off-line выезды
      </div>
      <div class="center-block-text">
        После первого учебного года мы планируем летнюю off‑line школу. Участие
        опционально, но мы настоятельно это рекомендуем. Начиная с 25-26
        учебного года количество off‑line выездов может увеличиться до четырех.
        Подробности будут зависеть от политической обстановки и возможностей
        студентов. В любом случае места выездов будут спланированы в
        соответствии с учебной программой, будем изучать живой мир в природных
        местообитаниях, историю искусств - на раскопках или в музеях, языки - в
        соответствующей языковой среде. Стоимость этих выездов не входит в
        стоимость основной программы.
      </div>
    </div>

    <div class="block first-block">
      <div class="left-part">
        <div>
          <div class="zhizn secondary-title">стоимость за год</div>
          <div class="prices">
            При оплате всего учебного года до конца мая
            <div class="zhizn price">€5400</div>
            <br />При оплате всего учебного года до конца июня
            <div class="zhizn price">€6300</div>
            <br />Оплата ежемесячно (зачисление на программу после оплаты
            первого месяца)
            <div class="zhizn price">€7200</div>
            <br />
            Оплата банковским переводом с международных счетов
            <br /><br />Возможна оплата рублями по текущему курсу <br /><br />В
            каждом классе будет открыто 2 бесплатных места, отбор на них будет
            происходить на конкурсной основе
          </div>
        </div>
      </div>

      <div class="right-part">
        <img class="animal-row" src="/assets/images/row.png" />
      </div>
    </div>
    <div class="block first-block">
      <div class="left-part">
        <div class="zhizn secondary-title">учителя</div>
        <div class="program">
          Все наши преподаватели - специалисты в своей области и имеют большой
          опыт работы с детьми. У большинства есть научная степень. Подробнее вы
          можете познакомиться с ними на странице “наши учителя”
        </div>
        <br />
        <div class="zhizn secondary-title">аттестат</div>
        <div class="program">
          Если вы захотите сменить школу до окончания программы, вы получите
          подробный куррикулум и табель успеваемости. Если вам нужен аттестат
          РФ, Украины или страны проживания, скорее всего, вам необходимо будет
          перейти на домашнее обучения и выполнить требования страны. Мы со
          своей стороны готовы помочь с технической стороной и подготовкой к
          сдаче тестов.
        </div>
      </div>

      <div class="right-part">
        <div class="zhizn secondary-title">Кому подойдет?</div>
        <div class="program">
          Если вы переехали в другую страну и не уверены надолго ли задержитесь
          <br /><br />Вас не устраивает уровень образования/отношение к детям в
          стране, в которой вы оказались <br /><br />Вы находитесь в стране,
          язык которой ваши дети не могут/не видят смысла выучить
          <br /><br />Ваша работа требует постоянных переездов с детьми
          <br /><br />Вы хотите поддерживать уровень русского языка и культуры
          (хороших ее сторон) <br /><br />У вас нет возможности оплачивать более
          дорогие программы
        </div>
        <div class="zhizn secondary-title">on-line формат</div>
        <div class="program">
          Кроме недостатков обладает неоспоримыми преимуществами:
          <ul>
            <li>
              При переезде позволяет сохранить школу и продолжить обучение без
              потерь
            </li>
            <br />
            <li>
              Позволяет заниматься у лучших учителей, которые находятся в разных
              странах
            </li>
            <br />
            <li>Не нужно тратить время на дорогу в школу</li>
            <br />
            <li>
              Позволяет сконцентрироваться на себе и учебном процессе
              <br /><br />
              <div class="zhizn">
                Мы не рекомендуем on-line занятия детям с СДВГ
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="button-wrapper">
      <a
        href="https://docs.google.com/forms/d/1A61UshBHshmaAXF2Fo68xukZOLvTqAXyzPVk6GV2l0E/edit?pli=1#settingshttps://docs.google.com/forms/d/e/1FAIpQLSfJDzIPVGUgyYCbrwtOi3zkno6UEoENkjbnEswxTmpvvEPzWQ/viewform"
        class="button-under-schedule zhizn"
      >
        <div class="button-text">анкета<br />предзаписи</div>
      </a>
    </div>
  </div>
</div>
