<div id="toggle-nav" (click)="toggleMenu()">
  <div id="topMenuLine" [class.tilted]="tilted" class=""></div>
  <div id="bottomMenuLine" [class.tilted]="tilted" class=""></div>
</div>
<div *ngIf="loggedIn && router.url !== '/student' && router.url !== '/teacher' && (loginService.currentChild || loginService.teacher)">
  <div id="profile">
    <img id="profile-image" [src]="(loginService.isStudent ? loginService.currentChild.profile : loginService.teacher.profile) ?? '/assets/images/profile-default.jpg'" [routerLink]="loginService.isStudent ? '/student' : '/teacher'">
  </div>
</div>
<div id="menuScreen" [class.hidden]="hidden">
  <img id="tent" src="/assets/images/tent.png" />
  <img id="muscari" src="/assets/images/muscari.png" />
  <div id="menu-box">
    <a class="menu-item" routerLink="/login" (click)="toggleMenu()">Вход</a>
    <a class="menu-item" routerLink="/about" (click)="toggleMenu()">о школе</a>
    <a class="menu-item" routerLink="/schedule" (click)="toggleMenu()"
      >расписание</a
    >
    <a class="menu-item" routerLink="/donation" (click)="toggleMenu()"
      >помочь</a
    >
    <a class="menu-item" routerLink="/management" (click)="toggleMenu()"
    >наша команда</a>
    <a class="menu-item" routerLink="/contact" (click)="toggleMenu()"
      >контакты</a
    >
    <a class="menu-item" routerLink="/teachers" (click)="toggleMenu()"
      >наши учителя</a
    >
    <a class="menu-item" routerLink="/" (click)="toggleMenu()"
      >на главную</a
    >
  </div>
</div>
