<div id="toggle-nav" (click)="toggleMenu()">
  <div id="topMenuLine" [class.tilted]="tilted" class=""></div>
  <div id="bottomMenuLine" [class.tilted]="tilted" class=""></div>
</div>
<div id="profile" *ngIf="loginService.currentChild.profile">
  <img id="profile-image" [src]="loginService.currentChild.profile" routerLink="/student">
</div>
<div id="profile" *ngIf="loginService.teacher.profile">
  <img id="profile-image" [src]="loginService.teacher.profile" routerLink="/teacher">
</div>
<div id="menuScreen" [class.hidden]="hidden">
  <img id="tent" src="/assets/images/tent.png" />
  <img id="muscari" src="/assets/images/muscari.png" />
  <div id="menu-box">
    <a class="menu-item" routerLink="/login" (click)="toggleMenu()">Вход</a>
    <a class="menu-item" routerLink="/about" (click)="toggleMenu()">о школе</a>
    <a class="menu-item" routerLink="/schedule" (click)="toggleMenu()"
      >расписание</a
    >
    <a class="menu-item" routerLink="/donation" (click)="toggleMenu()"
      >помочь</a
    >
    <a class="menu-item" routerLink="/contact" (click)="toggleMenu()"
      >контакты</a
    >
  </div>
</div>
