<app-settings-popup [showSettings]="showSettings" [isStudent]="false"></app-settings-popup>
<div id="cover">
  <img id="cover-image" [src]="cover ? cover : '/assets/images/default-cover.jpeg'"/>
</div>
<div id="container">
  <div id="header">
    <div id="account-settings">
      <div id="open-settings-button" (click)="showSettings = true">
        <mat-icon>edit</mat-icon>
        Account settings
      </div>
    </div>
    <div id="profile">
      <div id="image-container">
        <div id="profile-image-border">
          <div id="profile-image">
            <img [src]="profile ? profile : '/assets/images/profile-default.jpg'" />
          </div>
        </div>
      </div>
      <div id="name">
        {{ loginService.currentChild.firstName + ' ' + loginService.currentChild.lastName }}
      </div>
    </div>
    <div id="profile-white-line"></div>
  </div>

  <div id="schedule">
    <div>
      <app-user-schedule [userId]="userId"></app-user-schedule>
    </div>
  </div>