<app-settings-popup
  [showSettings]="showSettings"
  [isStudent]="false"
  (settingsChange)="showSettings = $event"
></app-settings-popup>
<div id="cover">
  <img
    id="cover-image"
    [src]="
      loginService.teacher.cover
        ? loginService.teacher.cover
        : '/assets/images/default-cover.jpeg'
    "
  />
</div>
<div id="container">
  <div id="header">
    <div id="account-settings">
      <div id="open-settings-button" (click)="showSettings = true">
        <mat-icon>edit</mat-icon>
        Settings
      </div>
    </div>
    <div id="profile">
      <div id="image-container">
        <div id="profile-image-border">
          <div id="profile-image">
            <img
              [src]="
                loginService.teacher.profile
                  ? loginService.teacher.profile
                  : '/assets/images/profile-default.jpg'
              "
            />
          </div>
        </div>
      </div>
      <div id="name">
        <div>{{ loginService.teacher.name }}</div>
        <br />
        <div
          id="annoying"
          [style.font-size]="annoyingSize"
          [style.color]="annoyingColor"
        >
          {{ annoyingText }}
        </div>
      </div>
    </div>
    <div id="profile-white-line"></div>
  </div>

  <div id="schedule">
    <div>
      <app-user-schedule
        [userId]="userId"
        (lectureChange)="onLectureChange($event)"
      ></app-user-schedule>
    </div>
  </div>

  <div
    *ngIf="!scheduleService.selectedLecture.title"
    class="instruction-container"
  >
    <div class="instruction-line">
      чтобы перейти на страницу предмета, кликните на расписание
    </div>
  </div>

  <div class="anchor-container">
    <div id="course-anchor"></div>
  </div>

  <div *ngIf="scheduleService.selectedLecture.title">
    <div class="separating-line"></div>
    <div class="two-column">
      <div class="half-container" id="course-details">
        <div id="subject-wrapper">
          <div id="subject">
            {{ scheduleService.selectedLecture.title }}
          </div>
          <div id="hour">
            {{ scheduleService.week[scheduleService.dayNumber] }}. чт.
            {{ scheduleService.selectedLecture.hour }}
          </div>
        </div>
      </div>

      <div class="half-container" id="telegram-half">
        <div id="buttons-container">
          <a
            class="purple-button"
            [attr.href]="scheduleService.selectedLecture.url"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:serif="http://www.serif.com/"
              width="24px"
              height="24px"
              fill="white"
              version="1.1"
              xml:space="preserve"
              style="
                fill-rule: evenodd;
                clip-rule: evenodd;
                stroke-linejoin: round;
                stroke-miterlimit: 1.41421;
              "
            >
              <path
                id="telegram-1"
                d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z"
              />
            </svg>
          </a>
          <a
            class="purple-button download-button"
            [attr.href]="scheduleService.selectedLecture.book"
            download
          >
            <mat-icon *ngIf="scheduleService.selectedLecture.book"
              >menu_book</mat-icon
            >
            <div
              *ngIf="!scheduleService.selectedLecture.book"
              style="text-align: center; padding: 5px"
            >
              no book yet
            </div>
          </a>
          <app-upload-photo
            [uploadColumn]="'book'"
            [uploadTable]="'lectures'"
          ></app-upload-photo>
        </div>

        <div>
          <div id="circle-container">
            <div id="white-circle">ZOOM</div>
          </div>
        </div>
      </div>
    </div>

    <div class="two-column">
      <div class="half-container" id="children-half">
        <div>вероятно к вам придут вот эти дети:</div>
        <div id="child-list">
          <div
            class="child-container"
            *ngFor="let child of scheduleService.currentChildren; let i = index"
            (click)="selectChild(i)"
          >
            <div class="profile-image-border-children">
              <div class="profile-image-children">
                <img
                  [src]="
                    child.profile
                      ? child.profile
                      : '/assets/images/profile-default.jpg'
                  "
                />
              </div>
            </div>
            <div class="child-name">
              {{ child.firstName + " " + child.lastName }}
            </div>
          </div>
        </div>
      </div>

      <div class="half-container form-half">
        <div>взять на урок</div>
        <br />
        <div id="stationery-container">
          <div>{{ scheduleService.selectedLecture.stationeryText }}</div>
          <ng-container
            *ngFor="
              let file of parsing.parse(
                scheduleService.selectedLecture.stationeryFile
              )
            "
          >
            <a *ngIf="parsing.isImage(file)" [attr.href]="file" target="_blank">
              <img [attr.src]="file" class="photoPreview" />
            </a>
            <a
              *ngIf="!parsing.isImage(file)"
              [attr.href]="file"
              target="_blank"
            >
              <img src="/assets/images/pdf-icon.png" class="photoPreview" />
            </a>
          </ng-container>
        </div>
        <textarea class="user-textarea" [(ngModel)]="stationeryText"></textarea>
        <div class="under-form-buttons">
          <app-upload-photo
            [uploadColumn]="'stationeryFile'"
            [uploadTable]="'lectures'"
          ></app-upload-photo>
          <div class="under-schedule-buttons">
            <div class="button-wrapper" (click)="saveStationery()">
              <div class="button-under-schedule">отправить</div>
            </div>
          </div>
        </div>

        <div id="create-homework">домашка</div>
        <div id="savedHomework">
          {{ scheduleService.savedHomeworkText }}&nbsp;
        </div>
        <a
          *ngIf="scheduleService.savedHomeworkFile"
          id="savedHomeworkFile"
          [attr.href]="scheduleService.savedHomeworkFile"
          class="purple-button download-button"
          download
        >
          <mat-icon>file_download</mat-icon>
        </a>
        <textarea class="user-textarea" [(ngModel)]="homeworkText"> </textarea>
        <div class="under-form-buttons">
          <app-upload-photo
            (uploaded)="updateHwFile($event)"
          ></app-upload-photo>
          <div class="under-schedule-buttons">
            <div class="button-wrapper" (click)="saveHomework()">
              <div class="button-under-schedule">отправить</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="chosenChild === -1" class="instruction-container">
      <div class="instruction-line">
        кликните на ученика чтобы проверить домашку
      </div>
    </div>

    <div class="anchor-container">
      <div id="child-anchor"></div>
    </div>

    <div *ngFor="let child of scheduleService.currentChildren; let i = index">
      <div *ngIf="chosenChild === i">
        <div class="separating-space"></div>
        <div class="separating-line"></div>
        <div class="separating-space"></div>

        <div id="child-profile-container">
          <div class="profile-image-border-child">
            <div class="profile-image-child">
              <img
                [src]="
                  child.profile
                    ? child.profile
                    : '/assets/images/profile-default.jpg'
                "
              />
            </div>
          </div>
          <div id="chosen-child-name">
            {{ child.firstName }}
            {{ child.lastName }}
          </div>
        </div>

        <app-homework [location]="'teacher'"></app-homework>
      </div>
    </div>
    <div class="separating-space"></div>
    <div class="separating-line" *ngIf="chosenChild !== -1"></div>
    <div class="separating-space"></div>
    <div class="separating-space-70"></div>
    <div id="last-title">Подготовка к урокам</div>
    <div class="separating-space"></div>
    <div id="note-line">
      <textarea
        class="user-textarea small-textarea"
        [(ngModel)]="currentNote"
        placeholder="note text"
      ></textarea>
      <div id="note-buttons">
        <div
          class="purple-button link-icon"
          (click)="showLinkInput = !showLinkInput"
        >
          <mat-icon>link</mat-icon>
        </div>
        <app-upload-photo (uploaded)="updateNoteFile($event)"></app-upload-photo>
        <div class="purple-button link-icon" (click)="saveNote()">
          <mat-icon>save</mat-icon>
        </div>
      </div>
    </div>
    <div id="link-line">
      <textarea
        *ngIf="showLinkInput"
        class="user-textarea small-textarea"
        [(ngModel)]="currentLink"
        placeholder="note link"
      ></textarea>
    </div>

    <div class="separating-space"></div>
    <div id="note-error">&nbsp;{{ currentError }}</div>
    <div class="note-container">
      <div class="single-note" *ngFor="let note of noteList; let i = index">
        <ng-container *ngIf="note.lectureId === scheduleService.selectedLecture.id">
          <a
            *ngIf="note.link"
            class="note-text"
            [attr.href]="note.link"
            target="_blank"
            >{{ note.note }}</a
          >
          <a *ngIf="!note.link" class="note-text">{{ note.note }}</a>
          <div class="delete-note" (click)="deleteNote(i)">
            <mat-icon>close</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="separating-space"></div>
</div>
