.under-schedule-buttons {
  justify-content: flex-end;
  margin: 0;
}

#child-list {
  font-family: "Ubuntu";
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
}

.child-container {
  height: 128px;
  width: 128px;
  padding: 40px 40px 40px 0;
  margin: 40px 40px 40px 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

#child-name {
  padding-left: 10px;
  font-size: 26px;
}

#chosen-child-name {
  font-size: 55px;
  padding-top: 50px;
  font-family: "helvetica", "Ubuntu";
}

.profile-image-border-children {
  width: 153px;
  height: 153px;
  margin-bottom: 25px;
}

.profile-image-border-child {
  width: 223px;
  height: 223px;
  margin-top: 40px;
}

.half-container {
  display: flex;
}

#child-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.under-form-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.attach-image {
  transform: scale(0.1, 0.1);
}

#column-dates {
  display: flex;
  flex-direction: column;
}

#last-forms {
  font-family: "Ubuntu";
}

.form-title {
  font-family: "Zhizn";
  font-size: 26px;
  padding-bottom: 45px;
}

.form-date {
  font-family: "Zhizn";
  font-size: 18px;
}

#umbrella-container {
  display: flex;
  justify-content: center;
}

#umbrella {
  max-width: 70%;
}

.download-button {
  color: white;
}

.material-icons::ng-deep {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

#last-title {
  font-size: 70px;
  font-family: "Zhizn";
  text-align: center;
}

#small-textarea {
  height: 43px;
  width: 46%;
}

#note-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

#note-line .purple-button {
  margin-left: 40px;
}

.single-note {
  font-size: 20px;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.note-container {
  display: flex;
  justify-content: center;
}

.delete-note .material-icons::ng-deep {
  color: white;
  font-size: 40px;
}

.note-text {
  border-bottom: 1.5px solid white;
  width: 100%;
}