<app-settings-popup [showSettings]="showSettings" [isStudent]="false"></app-settings-popup>
<div id="cover">
  <img id="cover-image" [src]="cover ? cover : '/assets/images/default-cover.jpeg'"/>
</div>
<div id="container">
  <div id="header">
    <div id="account-settings">
      <div id="open-settings-button" (click)="showSettings = true">
        <mat-icon>edit</mat-icon>
        Account settings
      </div>
    </div>
    <div id="profile">
      <div id="image-container">
        <div id="profile-image-border">
          <div id="profile-image">
            <img [src]="profile ? profile : '/assets/images/profile-default.jpg'" />
          </div>
        </div>
      </div>
      <div id="name">
        {{ loginService.currentChild.firstName + ' ' + loginService.currentChild.lastName }}
      </div>
    </div>
    <div id="profile-white-line"></div>
  </div>

  <div id="schedule">
    <div>
      <app-user-schedule [userId]="userId"></app-user-schedule>
    </div>
  </div>

  <div id="under-schedule-buttons">
    <div class="button-wrapper">
      <div class="button-under-schedule">
        <div style="font-size:16px;">добавить</div>
        свои дела
      </div>
    </div>
  </div>


  <div id="instruction-container">
    <div id="instruction-line">
      чтобы перейти на страницу предмета, кликните на расписание
    </div>
  </div>

  <div id="separating-line"></div>

  <div id="course-details">
    <div id="subject-wrapper">
      <div id="subject">
        {{scheduleService.selectedLecture.title}}
      </div>
      <div id="hour">
        {{scheduleService.week[scheduleService.dayNumber]}}. чт. 
        {{scheduleService.selectedLecture.hour}}
      </div>
    </div>