
.under-schedule-buttons {
  justify-content: flex-end;
  margin: 0;
}

#child-list {
  font-family: 'Ubuntu';
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
}

.child-container {
  height: 128px;
  width: 128px;
  padding: 30px 15px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

#chosen-child-name {
  font-size: 40px;
  padding-left: 70px;
  font-family: 'Ubuntu';
}

.profile-image-border-children {
  width: 124px;
  height: 124px;
}

.half-container {
  display: flex;
}

#child-profile-container {
  align-items: center;
}

.under-form-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.attach-button {
  margin-top: 30px;
}

.attach-image {
  transform: scale(0.1, 0.1);
}