<div *ngIf="showSettings" id="settings-container" (click)="backgroundClick()">
  <div id="settings-screen"></div>
  <div id="settings-box" (click)="stopProp($event)">
    <div class="settings-button upload-container">
      <app-upload-photo
        [uploadColumn]="'cover'"
        [uploadTable]="isStudent ? 'children' : 'teachers'"
      ></app-upload-photo>
      <div>Сменить фото обложку</div>
    </div>
    <div class="settings-button upload-container">
      <app-upload-photo
        [uploadColumn]="'profile'"
        [uploadTable]="isStudent ? 'children' : 'teachers'"
      ></app-upload-photo>
      <div>Сменить фото профиля</div>
    </div>
    <div *ngIf="isStudent">
      <div [routerLink]="'/new-student/'+loginService.connectedChildId" style="cursor: pointer;">edit personal details</div>
      <div (click)="titleClick()">Выбрать ученика:</div>
      <input [(ngModel)]="adminChild" *ngIf="!adminView" />
      <div
        class="settings-button"
        (click)="changeChild(child)"
        *ngFor="let child of loginService.children"
      >
        {{ child.firstName + " " + child.lastName }}
      </div>
      <div class="settings-button" routerLink="../new-student">
        + Добавить ученика
      </div>
    </div>
    <div class="settings-button" [routerLink]="isStudent ? '/teacher' : '/student'">Switch to {{isStudent ? 'teacher' : 'student'}}</div>
    <div class="settings-button" (click)="loginService.logout()">Выйти</div>
  </div>
</div>
