<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section section1">
    <div class="quote first-quote">
      <div id="photos-containter">
        <div class="narrow-none"  id="box-left">
          <img id="main-left" src="/assets/images/Cikorii.png" />
        </div>
        <div id="box-center">
          <div id="logo-wrapper" (click)="logoClick()">
            <img id="logo" src="/assets/images/logo.jpeg" />
          </div>
          <img id="main-center" src="/assets/images/Helix.png" />
        </div>
        <div  class="narrow-none" id="box-right">
          <img id="animal" src="/assets/images/Animal.png" />
          <img id="main-right" src="/assets/images/Ryabchik.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="section section2">
    <div id="inner5" class="fill">
      <div id="wrapper5">
        <div class="quote">
          «Для нас эта школа - настоящее спасение,<br />
          спасибо вам за этот проект!
          <div class="space25"></div>
          Аглая и Ян остались отрезанными <br />
          от систем образования, а многое существующее <br />
          в сети мы на самом деле не можем <br />
          себе позволить.»
        </div>
        <br />
        <br />
        <div class="quotee">Оксана, мама Аглаи и Яна</div>
      </div>
    </div>
    <img id="image5" src="/assets/images/twin-purple.png" />
  </div>

  <div class="section section3">
    <div id="inner3">
      <div id="wrapper3">
        <div class="quote narrow-none">
          «Для нас любой ребенок, который больше не имеет
          <br />возможности учиться - в беде.
          <div class="space25"></div>
          У детей, которые приходят в школу,<br />
          разные истории, но практически все они лишились
          <br />привычной среды и общения.»
        </div>
        <div class="quote wide-none">
          «Для нас любой ребенок,<br />
          который больше<br />
          не имеет возможности<br />
          учиться - в беде.<br />
          <div class="space25"></div>
          У детей, которые приходят<br />
          в школу, разные истории,<br />
          но практически<br />
          все они лишились привычной<br />
          среды и общения.»
        </div>
        <br class="narrow-none"/>
        <br />
        <div class="quotee narrow-none">
          Соня Велле, сооснователь школы,<br />из интервью изданию “Бумага“
        </div>
        <div class="quotee wide-none">
          Соня Велле,<br />сооснователь школы
        </div>
      </div>
    </div>

    <img id="image3" src="/assets/images/manyellow.png" />
  </div>

  <div class="section section4">
    <div class="fill gray-inner">
      <div id="wrapper4">
        <div class="quote">
          «Они не знают, что происходит у них в жизни,<br />
          и мы стараемся быть для них чем-то стабильным.
          <div class="space25"></div>
          У нас есть расписание, мы приходим<br />
          в это время в Zoom. Мы стараемся сделать место,<br />
          где нет войны.»
        </div>
      </div>
      <div class="quotee">Соня Велле, сооснователь школы</div>
    </div>

    <img id="image4" src="/assets/images/purple-flowers.png" />
  </div>

  <div class="section section6">
    <div class="fill gray-inner">
      <div id="wrapper6">
        <div class="quote">
          «Тардиграда - школа для всех, нам не важно, откуда
          <br />к нам приходит ученик. И неважно, откуда приходит учитель.
          <div class="space25"></div>
          Первое условие для учителя - этическая позиция, <br />уважение и
          внимание по отношению к ученикам и коллегам.
          <div class="space25"></div>
          Профессионализм, интерес к своему предмету - <br />условие
          необходимое, но не достаточное.
          <div class="space25"></div>
          А еще мы за открытое обсуждение и сотворчество.»
        </div>
        <br />
        <br />
        <div class="quotee">Анна Зиндер, сооснователь школы</div>
      </div>
    </div>

    <img id="image6" src="/assets/images/whiteflower.png" />
  </div>

  <div class="section section5">
    <div id="inner2">
      <div class="quote">
        «Очень большая помощь нашей семье -
        <br />ваши занятия!
        <div class="space25"></div>
        Узнали много нового и интересного,<br />
        по-другому взглянули на процесс образования.
        <div class="space25"></div>
        Дети с удовольствием идут на уроки,
        <br />иногда даже вместо игр»
      </div>
      <div class="quotee">Марина, мама Игоря</div>
    </div>
    <img id="image1" src="/assets/images/hairyellow.png" />
  </div>

  <div class="section section7">
    <div class="fill gray-inner">
      <div id="wrapper7">
        <div class="quote">
          «Аркаше вы точно подарили непередаваемый опыт
          <br />преодоления ситуации “мама, у меня ничего не выходит!” <br />И
          уникальный опыт самодисциплины.
          <div class="space25"></div>
          Я прослезилась, когда он сказал, что не идет гулять
          <br />с другом, потому что еще не сделал дз.»
        </div>
        <br />
        <br />
        <div class="quotee">Дана, мама Аркадия</div>
      </div>
    </div>

    <img id="image7" src="/assets/images/annaflowers.png" />
  </div>

  <div class="section section8">
    <div class="fill gray-inner">
      <div id="wrapper8">
        <div class="quote">
          «У меня был сегодня урок в нашей Блуждающей Тардиграде.
          <br />Трое детей - девочка из Питера, девочка и мальчик из Украины.
          <br />Двое - в бегах, одна в Украине. <br />На уроке учились задавать
          вопросы, на которые хочется отвечать.
          <div class="space25"></div>
          К чему это я? Просто рассказываю. На каждом занятии
          <br />собираются ученики, разбросанные по всему миру.
          <br />Внимательные друг к другу, прекрасные. Повезло мне с
          профессией.»
        </div>
        <br />
        <br />
        <div class="quotee">Анна Зиндер, сооснователь школы</div>
      </div>
    </div>

    <img id="image8" src="/assets/images/yetpurple.png" />
  </div>

  <div class="section section9">
    <div class="fill gray-inner">
      <div id="wrapper9">
        <div id="last-title">Блуждающая тардиграда</div>
        <div id="last-text">
          волонтерский проект
          <br />
          Мы существуем благодаря вашей помощи
        </div>
        <div class="button-wrapper" routerLink="/donate">
          <div class="button-under-schedule"><div id="button-text">помочь школе</div></div>
        </div>
      </div>
    </div>

    <div id="last-animal-container">
      <img id="image9" src="/assets/images/Animal.png" />
    </div>
  </div>
</div>
