<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section section1">
    <div class="quote first-quote">
      <div id="photos-containter">
        <div class="narrow-none ipad-none" id="box-left">
          <img id="main-left" src="/assets/images/Cikorii.png" />
        </div>
        <div id="box-center">
          <div id="logo-wrapper" (click)="logoClick()">
            <img id="logo" src="/assets/images/logo.jpeg" />
          </div>
          <img id="main-center" src="/assets/images/Helix.png" />
        </div>
        <div class="narrow-none ipad-none" id="box-right">
          <img id="animal" src="/assets/images/Animal.png" />
          <img id="main-right" src="/assets/images/Ryabchik.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="section section2">
    <div class="fill dark-text">
      <div id="wrapper1">
        <div class="quote narrow-none">
          «Для нас эта школа - настоящее спасение,<br />
          спасибо вам за этот проект!
          <div class="space25"></div>
          Аглая и Ян остались отрезанными <br />
          от систем образования, а многое существующее <br />
          в сети мы на самом деле не можем <br />
          себе позволить.»
        </div>
        <div class="quote wide-none">
          «Для нас эта школа - <br />
          настоящее спасение,<br />
          спасибо вам<br />
          за этот проект!
          <div class="space25"></div>
          Аглая и Ян остались<br />
          отрезанными <br />
          от систем образования,<br />
          а многое <br />
          существующее в сети<br />
          мы на самом деле<br />
          не можем <br />
          себе позволить.»
        </div>
        <br class="narrow-none" />
        <br />
        <div class="quotee">
          Оксана, <br class="wide-none" />мама Аглаи и Яна
        </div>
      </div>
    </div>
    <img class="narrow-none" id="image1" src="/assets/images/twin-purple.png" />
    <img class="wide-none" id="image1a" src="/assets/images/right-twin.png" />
    <img class="wide-none" id="image1b" src="/assets/images/left-twin.png" />
  </div>

  <div class="section section3">
    <div class="fill gray-inner">
      <div id="wrapper2">
        <div class="quote narrow-none">
          «Для нас любой ребенок, который больше не имеет
          <br />возможности учиться - в беде.
          <div class="space25"></div>
          У детей, которые приходят в школу,<br />
          разные истории, но практически все они лишились
          <br />привычной среды и общения.»
        </div>
        <div class="quote wide-none">
          «Для нас любой ребенок,<br />
          который больше<br />
          не имеет возможности<br />
          учиться - в беде.<br />
          <div class="space25"></div>
          У детей, которые приходят<br />
          в школу, разные истории,<br />
          но практически<br />
          все они лишились привычной<br />
          среды и общения.»
        </div>
        <br />
        <br />
        <div class="quotee narrow-none">
          Соня Велле, сооснователь школы, <br />из интервью изданию “Бумага“
        </div>
        <div class="quotee wide-none">Соня Велле, <br />сооснователь школы</div>
      </div>
    </div>

    <img id="image2" src="/assets/images/manyellow.png" />
  </div>

  <div class="section section4">
    <div class="fill gray-inner">
      <div id="wrapper3">
        <div class="quote narrow-none">
          «Они не знают, что происходит у них в жизни,<br />
          и мы стараемся быть для них чем-то стабильным.
          <div class="space25"></div>
          У нас есть расписание, мы приходим<br />
          в это время в Zoom. Мы стараемся сделать место,<br />
          где нет войны.»
        </div>
        <div class="quote wide-none">
          «Они не знают,<br />
          что происходит у них<br />
          в жизни, и мы<br />
          стараемся быть для них<br />
          чем-то стабильным.
          <div class="space25"></div>
          У нас есть расписание,<br />
          мы приходим в<br />
          это время в Zoom.<br />
          Мы стараемся<br />
          сделать место, где<br />
          нет войны.»
        </div>
        <div class="quotee">
          Соня Велле, <br class="wide-none" />
          сооснователь школы
        </div>
      </div>
    </div>

    <img id="image3" src="/assets/images/purple-flowers.png" />
  </div>

  <div class="section section6">
    <div class="fill gray-inner">
      <div id="wrapper4">
        <div class="quote narrow-none">
          «Тардиграда - школа для всех, нам не важно, откуда
          <br />к нам приходит ученик. И неважно, откуда приходит учитель.
          <div class="space25"></div>
          Первое условие для учителя - этическая позиция, <br />уважение и
          внимание по отношению к ученикам и коллегам.
          <div class="space25"></div>
          Профессионализм, интерес к своему предмету - <br />условие
          необходимое, но не достаточное.
          <div class="space25"></div>
          А еще мы за открытое обсуждение и сотворчество.»
        </div>
        <div class="quote wide-none">
          «Тардиграда - школа для всех,<br />
          нам не важно, откуда<br />
          к нам приходит ученик.<br />
          И неважно, откуда приходит<br />
          учитель.
          <div class="space25"></div>
          Первое условие для учителя -<br />
          этическая позиция,<br />
          уважение и внимание<br />
          по отношению<br />
          к ученикам и коллегам.
          <div class="space25"></div>
          Профессионализм,<br />
          интерес к своему предмету -<br />
          условие необходимое,<br />
          но не достаточное.
          <div class="space25"></div>
          А еще мы за открытое<br />
          обсуждение и сотворчество.»
        </div>
        <br class="narrow-none" />
        <br />
        <div class="quotee">
          Анна Зиндер, <br class="wide-none" />сооснователь школы
        </div>
      </div>
    </div>

    <img id="image4" class="narrow-none" src="/assets/images/whiteflower.png" />
  </div>

  <div class="section section5">
    <div class="fill gray-inner">
      <div id="wrapper5">
        <div class="quote narrow-none">
          «Очень большая помощь нашей семье -
          <br />ваши занятия!
          <div class="space25"></div>
          Узнали много нового и интересного,<br />
          по-другому взглянули на процесс образования.
          <div class="space25"></div>
          Дети с удовольствием идут на уроки,
          <br />иногда даже вместо игр»
        </div>
        <div class="quote wide-none">
          «Очень большая<br />
          помощь нашей семье -<br />
          ваши занятия!
          <div class="space25"></div>
          Узнали много нового<br />
          и интересного,<br />
          по-другому взглянули на<br />
          процесс образования.
          <div class="space25"></div>
          Дети с удовольствием<br />
          идут на уроки,<br />
          иногда даже вместо игр»
        </div>
        <div class="quotee">
          Марина, <br class="wide-none" />
          мама Игоря
        </div>
      </div>
      <img id="image5" src="/assets/images/hairyellow.png" />
    </div>
  </div>

  <div class="section section7">
    <div class="fill gray-inner">
      <div id="wrapper6">
        <div class="quote narrow-none">
          «Аркаше вы точно подарили непередаваемый опыт
          <br />преодоления ситуации “мама, у меня ничего не выходит!” <br />И
          уникальный опыт самодисциплины.
          <div class="space25"></div>
          Я прослезилась, когда он сказал, что не идет гулять
          <br />с другом, потому что еще не сделал дз.»
        </div>
        <div class="quote wide-none">
          «Аркаше вы точно<br />
          подарили непередаваемый<br />
          опыт преодоления<br />
          ситуации “мама, у меня ничего<br />
          не выходит!” И уникальный<br />
          опыт самодисциплины.
          <div class="space25"></div>
          Я прослезилась, когда<br />
          он сказал, что не идет гулять<br />
          с другом, потому что<br />
          еще не сделал дз.»
        </div>
        <br class="narrow-none" />
        <br />
        <div class="quotee">
          Дана, <br class="wide-none" />
          мама Аркадия
        </div>
      </div>
    </div>
    <img id="image6" src="/assets/images/annaflowers.png" />
  </div>

  <div class="section section8">
    <div class="fill gray-inner">
      <div id="wrapper7">
        <div class="quote narrow-none">
          «У меня был сегодня урок в нашей Блуждающей Тардиграде.
          <br />Трое детей - девочка из Питера, девочка и мальчик из Украины.
          <br />Двое - в бегах, одна в Украине. <br />На уроке учились задавать
          вопросы, на которые хочется отвечать.
          <div class="space25"></div>
          К чему это я? Просто рассказываю. На каждом занятии
          <br />собираются ученики, разбросанные по всему миру.
          <br />Внимательные друг к другу, прекрасные. Повезло мне с
          профессией.»
        </div>
        <div class="quote wide-none">
          «У меня был сегодня урок<br />
          в нашей Блуждающей<br />
          Тардиграде. Трое детей -<br />
          девочка из Питера,<br />
          девочка и мальчик из Украины.<br />
          Двое - в бегах, одна в Украине. <br />
          На уроке учились задавать<br />
          вопросы, на которые хочется<br />
          отвечать.
          <div class="space25"></div>
          К чему это я?<br />
          Просто рассказываю.<br />
          На каждом занятии собираются<br />
          ученики, разбросанные<br />
          по всему миру.<br />
          Внимательные друг к другу,<br />
          прекрасные. Повезло мне<br />
          с профессией.»
        </div>
        <br class="narrow-none"/>
        <br class="narrow-none"/>
        <div class="quotee">
          Анна Зиндер, <br class="wide-none" /> 
          сооснователь школы
        </div>
      </div>
    </div>
    <img id="image7" class="narrow-none" src="/assets/images/yetpurple.png" />
  </div>

  <div class="section section9">
    <div class="fill gray-inner">
      <div id="wrapper8">
        <div class="last-animal-container narrow-none">
          <img class="image8" src="/assets/images/Animal.png" />
        </div>
        <div id="last-title">Блуждающая тардиграда</div>
        <div id="last-text">
          волонтерский проект
          <br />
          <div class="wide-none height20"></div>
          Мы существуем <br class="wide-none"/>благодаря вашей помощи
        </div>
        <div class="button-wrapper" routerLink="/donate">
          <div class="last-animal-container wide-none">
            <img class="image8" src="/assets/images/Animal.png" />
          </div>
          <div class="button-under-schedule">
            <div id="button-text">помочь школе</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
