@import "~fullpage.js/dist/fullpage.min.css";

.section {
  height: 100vh;
  color: white;
  font-family: Zhizn;
}

.quote {
  font-size: 50px;
  text-align: center;
}

.quotee {
  text-align: right;
  font-size: 25px;
}

.first-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 1420px) {
  .narrow-none {
    display: none;
  }
}

#hiding-block {
  left: 10%;
  position: absolute;
  bottom: 0;
  height: 550px;
  width: 300px;
  background: #d8d7e1;
  z-index: 1;
}

.section1 {
  background: #1d0a22;
}

.section2 {
  background: #d8d7e1;
  color: #46313d;
}

.section3 {
  background: #72274b;
}

.section4 {
  background: #987682;
}

.section5 {
  background: #d8d7e1;
}

.section6 {
  background: #59385b;
}

.section7 {
  background: #661e4b;
}

.fill {
  width: 100%;
  height: 100%;
}

#inner2 {
  width: 60%;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
}

#inner3 {
  color: white;
}

.gray-inner {
  color: #d8d7e1;
}

#inner5 {
  color: #46313d;
}

#wrapper3 {
  width: 50%;
  padding-left: 40%;
  padding-bottom: 20%;
  padding-top: 10%;
}

#wrapper4 {
  width: 50%;
  padding-left: 40%;
  padding-bottom: 5%;
  padding-top: 10%;
}

#wrapper5 {
  width: 70%;
  padding-left: 20%;
  padding-bottom: 20%;
  padding-top: 10%;
}

#wrapper6 {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
  padding-top: 10%;
  line-height: 1.8;
}

#wrapper7 {
  width: 80%;
  padding-left: 10%;
  padding-bottom: 20%;
  padding-top: 8%;
}

#quotewrap4 {
  width: 50%;
  padding-left: 10%;
  padding-right: 40%;
  padding-bottom: 20%;
}

#image1 {
  right: 10%;
  position: absolute;
  bottom: 0;
}

#image3 {
  left: 10%;
  position: absolute;
  bottom: 0;
  height: 57%;
}

#image4 {
  right: 10%;
  position: absolute;
  bottom: 0;
  height: 40%;
}

#image5 {
  left: 10%;
  position: absolute;
  bottom: 0;
  height: 57%;
}

#image6 {
  right: 4%;
  position: absolute;
  bottom: 20%;
  height: 20%;
}

#image7 {
  left: 5%;
  position: absolute;
  bottom: 60px;
  height: 40%;
}

.width10 {
  width: 10px;
}

.font15 {
  font-size: 15px;
}

.font45 {
  font-size: 45px;
}

.quote-note {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#photos-containter {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#main-right {
  height: 85vh;
}

#main-left {
  height: 95vh;
  padding-bottom: 60px;
}

#main-center {
  height: 550px;
  width: 450px;
  margin-right: 100px;
  margin-left: 100px;
}

#animal {
  height: 150px;
  width: 150px;
  margin-right: -28%;
  margin-bottom: 40%;
  transform: translateY(3px) rotate(45deg);
}

#logo {
  height: 80px;
  width: 80px;
}

#logo-wrapper {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  margin-bottom: 20px;
}

.box {
  flex: 1;
  display: flex;
}

.box:first-child {
  justify-content: flex-end;
}

.box:last-child {
  justify-content: flex-start;
  align-items: flex-end;
}

.box:first-child > img {
  margin-left: auto;
}

.box:last-child > img {
  margin-right: auto;
}

#center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
