@import "~fullpage.js/dist/fullpage.min.css";

.section {
  height: 100vh;
  color: white;
  font-family: Zhizn;
}

.quote {
  font-size: 28px;
  text-align: center;
  line-height: 150%;
}

.quotee {
  font-size: 15px;
  padding-right: 170px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.first-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section1 {
  background: #1d0a22;
}

.section2 {
  background: #d8d7e1;
  color: #46313d;
}

.section3 {
  background: #72274b;
}

.section4 {
  background: #987682;
}

.section5 {
  background: #59385b;
  color: #d1cad7;
}

.section6 {
  background: #d8d7e1;
}

.section7 {
  background: #661e4b;
}

.section8 {
  background: #d8d7e1;
}

.section9 {
  background: #661e4b;
}

.fill {
  width: 100%;
  height: 100%;
}

#inner2 {
  width: 50%;
  padding-left: 38%;
  padding-bottom: 10%;
  padding-top: 9%;
}

#inner3 {
  color: white;
}

.gray-inner {
  color: #d8d7e1;
}

#inner5 {
  color: #46313d;
}

#wrapper3 {
  width: 60%;
  padding-left: 9%;
  padding-bottom: 20%;
  padding-top: 10%;
  color: #d1cad7;
}

#wrapper3 .quotee {
  padding-right: 50px;
  line-height: 140%;
}

#wrapper6 .quotee {
  padding-right: 75px;
}

#wrapper7 .quotee {
  padding-right: 90px;
  padding-top: 10px;
}

#inner2 .quote {
  line-height: 150%;
}

#inner2 .quotee {
  padding-right: 14px;
  padding-top: 33px;
}

#wrapper4 {
  width: 60%;
  padding-bottom: 3%;
  padding-top: 10%;
  padding-left: 32.5%;
}

#wrapper5 {
  width: 70%;
  padding-left: 26.5%;
  padding-bottom: 20%;
  padding-top: 9%;
}

#wrapper6 {
  color: #46313c;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
  padding-top: 8%;
  line-height: 1.8;
}

#wrapper7 {
  width: 70%;
  padding-left: 7%;
  padding-top: 10%;
}

#wrapper8 {
  color: #46313c;
  padding-bottom: 10%;
  padding-top: 8%;
  line-height: 1.8;
}

#wrapper9 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25.5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#last-title {
  font-size: 50px;
  padding-bottom: 20px;
}

#last-text {
  font-size: 28px;
  line-height: 160%;
  padding-bottom: 50px;
}

#image1 {
  left: 12%;
  position: absolute;
  bottom: 60px;
  height: 270px;
  transform: scaleX(-1);
}

#image3 {
  right: 10.6%;
  position: absolute;
  bottom: 60px;
  height: 27%;
}

#image4 {
  left: 10%;
  position: absolute;
  bottom: 60px;
  height: 30%;
}

#image5 {
  left: 15%;
  position: absolute;
  bottom: 60px;
  height: 30%;
}

#image6 {
  right: 4%;
  position: absolute;
  bottom: 4px;
  height: 30%;
  transform: scaleX(-1);
}

#image7 {
  right: 7%;
  position: absolute;
  bottom: 60px;
  height: 34%;
}

#image8 {
  left: 7%;
  position: absolute;
  transform: scaleX(-1) rotate(160deg);
  bottom: 40px;
  height: 240px;
}

#image9 {
  position: absolute;
  top: 9%;
  transform: scaleX(-1) rotate(20deg);
  padding-left: 420px;
  width: 80px;
}

#last-animal-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#photos-containter {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#main-right {
  height: 85vh;
}

#main-left {
  height: 95vh;
  padding-bottom: 50px;
}

#main-center {
  height: 550px;
  width: 500px;
  margin-right: 20px;
  margin-left: 20px;
}

#animal {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 23%;
  transform: translateY(3px) rotate(45deg);
}

#logo {
  height: 100px;
  width: 100px;
}

#logo-wrapper {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  margin-bottom: 30px;
}

#box-left,
#box-center,
#box-right {
  display: flex;
  width: 25%;
}

#box-left {
  flex-basis: 0;
  flex-grow: 1;
}

#box-center {
  flex-basis: 0;
  flex-grow: 1;
}

#box-right {
  flex-basis: 0;
  flex-grow: 1;
}

#box-left {
  justify-content: flex-end;
}

#box-right {
  justify-content: flex-start;
  align-items: flex-end;
}

#box-left > img {
  margin: auto;
}

#box-right > img {
  margin-right: auto;
}

#box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.space25 {
  height: 25px;
}

.button-wrapper {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 30px;
  height: 130px;
  width: 130px;
}

.button-under-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 102px;
  height: 102px;
  background: white;
  border-radius: 50%;
  font-size: 24px;
  line-height: 120%;
  padding: 10px;
  border: 4px solid #661e4b;
  color: black;
}

.button-under-schedule:hover {
  background: #661e4b;
  color: white;
}

#button-text {
  margin-top: 10px;
}

@media screen and (min-width: 1421px) {
  .wide-none {
    display: none !important;
  }
}

@media screen and (max-width: 1420px) {
  .narrow-none {
    display: none !important;
  }

  #main-center {
    width: 400px;
    height: 400px;
  }

  #logo-wrapper,
  #logo {
    width: 70px;
    height: 70px;
  }

  #logo-wrapper {
    margin-bottom: 20px;
  }

  .quote {
    font-size: 18px;
  }

  .quotee {
    padding-right: 10px;
  }

  #image5 {
    left: 5%;
  }

  #wrapper3 {
    width: 100%;
    padding-top: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  #wrapper3 .quote {
    color: white;
  }

  #wrapper3 .quotee {
    font-size: 12px;
    line-height: 150%;
    padding-right: 0;
    padding-left: 130px;
  }

  #wrapper5 {
    padding-top: 20%;
  }

  #wrapper4 {
    padding-left: 10%;
    width: 80%;
  }

  .space25 {
    height: 14px;
  }

  #wrapper6 {
    width: 97%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 0;
    line-height: 1;
  }

  #wrapper6 .quotee {
    padding-right: 0;
  }

  #inner2 {
    width: 100%;
    padding-left: 0;
    padding-top: 50px;
  }

  #image1 {
    left: 0;
    height: 200px;
  }

  #image3 {
    left: 5%;
    position: absolute;
    bottom: 60px;
    height: 23%;
  }

  #image7 {
    right: 0;
    height: 25%;
  }

  #wrapper8 {
    padding-top: 50px;
    padding-right: 8px;
    padding-left: 8px;
  }

  #image8 {
    left: 0;
    height: 160px;
  }

  #image9 {
    padding-left: 100px;
    top: 14%;
  }

  #last-text {
    padding: 5px;
    font-size: 25px;
  }
}
