#container {
  background-color: #220315;
  padding-bottom: 500px;
  width: 100%;
  color: white;
}

#title {
  padding-top: 125px;
  font-size: 36px;
  font-family: "Zhizn";
  text-align: center;
  line-height: 120%;
}

#tiles-container {
  padding-top: 150px;
  margin-right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tiles-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 720px;
  width: 1120px;
}

.long, .wide {
  padding: 30px;
  border-radius: 10px;
}

.long {
  height: 670px;
  width: 290px;
}

.wide {
  height: 290px;
  width: 670px;
}

.about {
  white-space: pre-line;
}