<div id="wrapper">
  <div id="form">
    <div id="inner-form">
      Please fill in details of your child, you will later have an option to add more children.
      <br />Имя: <input [(ngModel)]="childData.firstName" required minlength="3" #firstName="ngModel"/>
      <br />Фамилия: <input [(ngModel)]="childData.lastName" required minlength="3" #lastName="ngModel"/>
      <br />Отчество: <input [(ngModel)]="childData.fatherName" required minlength="3" #fatherName="ngModel"/>
      <br />Дата рождения:
      <input [(ngModel)]="childData.dateOfBirth" required minlength="6" #dateOfBirth="ngModel"/> 
      <br />
      Класс:
      <input [(ngModel)]="childData.className" required minlength="3" />
      <br />
      Предметы, которые вы хотели бы изучать:
      <input [(ngModel)]="childData.subjects" required minlength="3" />
      <br />Часовой пояс:
      <input [(ngModel)]="childData.timezone" required minlength="3" /> 
      <br />
      Опыт обучения в ZOOM:
      <input [(ngModel)]="childData.zoom" required minlength="3" />
      <br />девайс для занятия:
      <input [(ngModel)]="childData.device" required minlength="3" /> 
      <br />
      уровень знания языков:
      <input [(ngModel)]="childData.language" required minlength="3" />
      <br />Есть ли жесткие ограничения по времени?
      <input [(ngModel)]="childData.limits" required minlength="3" />
      <br />Телеграм ребенка (для самостоятельных детей):
      <input [(ngModel)]="childData.telegram" required minlength="3" />
      <br />Что-то еще, что нам надо знать:
      <input [(ngModel)]="childData.note" required minlength="3" />
      <br />
      <button (click)="saveChild()">Submit</button>

      <div
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        class="alert">
        <div *ngIf="firstName.errors?.['required']">First name is required.</div>
        <div *ngIf="firstName.errors?.['minlength']">
          Name must be at least 3 characters long.
        </div>
      </div>

      <div
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        class="alert">
        <div *ngIf="lastName.errors?.['required']">Last name is required.</div>
        <div *ngIf="lastName.errors?.['minlength']">
          Last name must be at least 3 characters long.
        </div>
      </div>

      <div
        *ngIf="fatherName.invalid && (fatherName.dirty || fatherName.touched)"
        class="alert">
        <div *ngIf="fatherName.errors?.['required']">Father name is required.</div>
        <div *ngIf="fatherName.errors?.['minlength']">
          Father name must be at least 3 characters long.
        </div>
      </div>

      <div
        *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)"
        class="alert">
        <div *ngIf="dateOfBirth.errors?.['required']">dateOfBirth is required.</div>
        <div *ngIf="dateOfBirth.errors?.['minlength']">
          dateOfBirth must be at least 6 characters long.
        </div>
      </div>      


      <div>{{saveSuccess}}</div>
      <div>{{saveError}}</div>
    </div>
  </div>
</div>
