<app-parent-area></app-parent-area>
<div id="wrapper">
  <div *ngFor="let child of children">TODO</div>
  <div>
    <button (click)="editMode = !editMode">Добавьте ученика</button>
  </div>
  <div *ngIf="editMode" id="form">
    <div id="inner-form">
      <br />Имя: <input [(ngModel)]="childData.firstName" required minlength="3" />
      <br />Фамилия: <input [(ngModel)]="childData.lastName" required minlength="3" />
      <br />Отчество: <input [(ngModel)]="childData.fatherName" required minlength="3" />
      <br />Дата рождения:
      <input [(ngModel)]="childData.dateOfBirth" required minlength="3" /> 
      <br />
      Класс:
      <input [(ngModel)]="childData.className" required minlength="3" />
      <br />
      Предметы, которые вы хотели бы изучать:
      <input [(ngModel)]="childData.subjects" required minlength="3" />
      <br />Часовой пояс:
      <input [(ngModel)]="childData.timezone" required minlength="3" /> 
      <br />
      Опыт обучения в ZOOM:
      <input [(ngModel)]="childData.zoom" required minlength="3" />
      <br />девайс для занятия:
      <input [(ngModel)]="childData.device" required minlength="3" /> 
      <br />
      уровень знания языков:
      <input [(ngModel)]="childData.language" required minlength="3" />
      <br />Есть ли жесткие ограничения по времени?
      <input [(ngModel)]="childData.limits" required minlength="3" />
      <br />Телеграм ребенка (для самостоятельных детей):
      <input [(ngModel)]="childData.telegram" required minlength="3" />
      <br />Что-то еще, что нам надо знать:
      <input [(ngModel)]="childData.note" required minlength="3" />
      <br />
      <button (click)="saveChild()">Submit</button>
      <div>{{saveSuccess}}</div>
      <div>{{saveError}}</div>
    </div>
  </div>
</div>
