<div
  id="lecture-container"
  (click)="selectLecture()"
  [style.cursor]="data[selected].title ? 'pointer' : ''"
  [style.background]="
    data[selected].background
      ? data[selected].background
      : rowNumber % 2
      ? '#d8def2'
      : '#d8d7e1'
  "
>
  <div *ngIf="!data[selected].title" class="personal-slot">
    <span>{{scheduleService.personalSlots[dayNumber][rowNumber]}}</span>
    <mat-icon (click)="openPopup()">edit</mat-icon>
  </div>
  <div id="lecture-title">
    {{ data[selected].title }}
  </div>
</div>
