#lecture-container {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lecture-title {
  padding: 10px;
}
