<div
  id="lecture-container"
  (click)="selectLecture()"
  [style.cursor]="data[selected].title ? 'pointer' : ''"
  [style.background]="
    data[selected].background
      ? data[selected].background
      : rowNumber % 2
      ? '#d8def2'
      : '#d8d7e1'
  "
>
  <div *ngIf="!data[selected].title" style="display: flex; align-items: center">
    <input
      class="personal-slot"
      [(ngModel)]="scheduleService.personalSlots[dayNumber][rowNumber]"
    />
    <div *ngIf="scheduleService.personalSlots[dayNumber][rowNumber]">
      <mat-icon (click)="savePersonalSlot()">save</mat-icon>
    </div>
  </div>
  <div id="lecture-title">
    {{ data[selected].title }}
  </div>
</div>
