<div id="container">
  <div>домашка</div>
  <div *ngIf="!scheduleService.currentHomeworks.length">-</div>
  <div *ngFor="let homework of scheduleService.currentHomeworks; let i = index">
    <div *ngIf="location === 'all'" id="lecture-name">
      {{ getLectureName(homework.lectureId) }}
    </div>
    <textarea class="user-textarea">{{ homework.hwText }}</textarea>
    <div class="hwActions">
      <a
        *ngIf="parsing.isImage(homework.hwFile)"
        [attr.href]="homework.hwFile"
        target="_blank"
      >
        <img [attr.src]="homework.hwFile" class="photoPreview" />
      </a>
      <a
        *ngIf="homework.hwFile && !parsing.isImage(homework.hwFile)"
        [attr.href]="homework.hwFile"
        target="_blank"
      >
        <img src="/assets/images/pdf-icon.png" class="photoPreview" />
      </a>
      <div
        *ngIf="location !== 'teacher'"
        class="purple-button"
        (click)="
          scheduleService.openHwResponse[i] = !scheduleService.openHwResponse[i]
        "
      >
        <svg
          aria-label="Comment"
          class="_ab6-"
          color="white"
          fill="#8e8e8e"
          height="24"
          role="img"
          viewBox="0 0 24 24"
          width="24"
        >
          <path
            d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"
            fill="none"
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="2"
          ></path>
        </svg>
      </div>
    </div>
    <div
      class="half-container form-half"
      *ngIf="location !== 'teacher' && scheduleService.openHwResponse[i]"
    >
      <div>Your response</div>
      <textarea class="user-textarea" [class.purple-border]="responseSuccess[i]" [(ngModel)]="homework.chwText"></textarea>
      <div class="response-buttons">
        <ng-container *ngFor="let file of parsing.parse(homework.chwFile)">
          <a *ngIf="parsing.isImage(file)" [attr.href]="file" target="_blank">
            <img [attr.src]="file" class="photoPreview" />
          </a>
          <a *ngIf="!parsing.isImage(file)" [attr.href]="file" target="_blank">
            <img src="/assets/images/pdf-icon.png" class="photoPreview" />
          </a>
        </ng-container>

        <app-upload-photo
          (uploaded)="updateHwResponseFile($event, i)"
        ></app-upload-photo>
        <div class="button-wrapper">
          <div class="button-under-schedule" (click)="submitResponse(i)">
            отправить
          </div>
        </div>
      </div>

      <div *ngIf="homework.fhwText">
        <div class="half-container form-half">
          <div class="response-title">Teacher's feedback</div>
          <textarea
            class="user-textarea"
            [(ngModel)]="homework.fhwText"
          ></textarea>
          <div class="response-buttons">
            <ng-container *ngFor="let file of parsing.parse(homework.fhwFile)">
              <a
                *ngIf="parsing.isImage(file)"
                [attr.href]="file"
                target="_blank"
              >
                <img [attr.src]="file" class="photoPreview" />
              </a>
              <a
                *ngIf="!parsing.isImage(file)"
                [attr.href]="file"
                target="_blank"
              >
                <img src="/assets/images/pdf-icon.png" class="photoPreview" />
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="location === 'teacher'">
      <div class="response-title">Student's response:</div>
      <textarea class="user-textarea">{{ homework.chwText }}</textarea>
      <div class="response-buttons">
        <ng-container *ngFor="let file of parsing.parse(homework.chwFile)">
          <a *ngIf="parsing.isImage(file)" [attr.href]="file" target="_blank">
            <img [attr.src]="file" class="photoPreview" />
          </a>
          <a *ngIf="!parsing.isImage(file)" [attr.href]="file" target="_blank">
            <img src="/assets/images/pdf-icon.png" class="photoPreview" />
          </a>
        </ng-container>
      </div>
      <div class="half-container form-half">
        <div class="response-title">Teacher's feedback</div>
        <textarea
          class="user-textarea"
          [(ngModel)]="homework.fhwText"
          [class.purple-border]="responseSuccess[i]"
        ></textarea>
        <div class="response-buttons">
          <ng-container *ngFor="let file of parsing.parse(homework.fhwFile)">
            <a *ngIf="parsing.isImage(file)" [attr.href]="file" target="_blank">
              <img [attr.src]="file" class="photoPreview" />
            </a>
            <a
              *ngIf="!parsing.isImage(file)"
              [attr.href]="file"
              target="_blank"
            >
              <img src="/assets/images/pdf-icon.png" class="photoPreview" />
            </a>
          </ng-container>

          <app-upload-photo
            (uploaded)="updateHwFeedbackFile($event, i)"
          ></app-upload-photo>
          <div class="button-wrapper">
            <div class="button-under-schedule" (click)="submitFeedback(i)">
              отправить
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
