<div class="background">
  <div class="zoom-out">
    <div id="top-title">
      <p>помочь</p>
    </div>
    <div class="space18"></div>
    <div id="opening-passage" class="text-centered">
      <p>
        Дорогие друзья! Блуждающая тардиграда – волонтерский проект и ваша
        помощь для нас – единственный источник финансирования!
      </p>
      <p>
        Спасибо, что помогаете нашим детям адаптироваться к новой жизни и найти
        в ней смысл!
      </p>
      <p>С международных счетов:</p>
    </div>
    <div class="space124"></div>

    <div id="tardigrada-container">
      <img id="center-tardigrada" src="/assets/images/hanging.jpg" />
    </div>

    <div id="second-container">
      <div id="second-text">
        <div id="second-passage">
          Вы так же можете помочь нам с российских счетов:
          <br />
          на карту Тинькофф по телефону +79312244143
        </div>
      </div>
    </div>

    <div class="space124"></div>

    <div id="third-container">
      <img id="umbrella" src="/assets/images/reading-in-the-rain.jpg" />
      <div id="third-text">
        <div id="third-title">Зачем нам деньги?</div>
        <div id="third-passage">
          ◦ На зарплату преподавателей. Во-первых, все должны получать зарплату
          за работу. Во-вторых часть наших учителей тоже в бегах с детьми и без
          доступа к своим счетам, так что им уже очень нужна оплачиваемая
          работа. Кстати, это одна из целей создания школы - создать какое-то
          количество рабочих мест для тех, кто не может сразу начать работать на
          новом месте.
          <br /><br />
          ◦ На поддержку разных онлайн сервисов вроде зума, сайта и т.д.
          <br /><br />
          ◦ На регистрацию организации и сопутствующие расходы.
          <br /><br />
          ◦ На организацию оффлайн-сессий.
        </div>
      </div>
    </div>
    <div class="space124"></div>

    <div id="fourth-container">
      <img id="middle-flower" src="/assets/images/purple-flowers.jpg" />

      <div id="fourth-text">
        <div id="fourth-passage">
          Отправляя нам 15 евро вы&nbsp; оплачиваете месяц работы одного
          аккаунта zoom
          <br /><br />
          Отправляя нам 30 евро вы оплачиваете один час работы педагога.
          <br /><br />
          Отправляя нам 360 евро вы оплачиваете полный рабочий день школы (12
          уроков)
          <br /><br />
          Отправляя нам 2500 евро вы оплачиваете одну неделю работы школы.
        </div>
      </div>
    </div>
    <div class="space100"></div>
    <div id="last-passage">
      <div id="last-title">И немного отзывов:</div>
      <div id="last-text">
        <ul>
          <li>
            <i
              >Аркаше вы точно подарили непередаваемый опыт преодоления ситуации
              “мама, у меня ничего не выходит!” Много раз на дню две недели
              подряд. И уникальный опыт самодисциплины. Я прослезилась, когда он
              сказал, что не идет гулять с другом, потому что еще не сделал
              дз.</i
            >
            <br />
            <br />
          </li>
          <li><b>Спасибо за счастливого ребенка!</b></li>
          <br />
          <br />
          <li>
            <i
              >География, биоразнообразие, ботаника - все это очень нравится
              ребенку. Что будет через две недели не знаем - потому что надо
              будет уехать из приютившего нас дома и пока не знаем куда.</i
            >
          </li>
          <br />
          <br />
          <li>
            В целом, очень большая помощь нашей семье - ваши занятия!&nbsp;
            Узнали много нового и интересного, по другому взглянули на процесс
            образования. Дети с удовольствием идут на уроки, иногда жертвуя
            игрой!
          </li>
          <br />
          <br />
          <li>
            <b>Спасибо вам большое! Для моих детей это настоящее спасение!</b>
          </li>
          <br />
          <br />
          <li>
            <i
              >Для нас эта школа - настоящее спасение, спасибо вам за работу и
              вообще за этот проект! Аглая и Ян остались totally detached от
              систем образования, а многое существующее в сети мы на самом деле
              не можем себе позволить.</i
            >
          </li>
          <br />
          <br />
          <li>
            <i
              >У нас только радость что вы есть и благодарность! Очень приятно
              ощущение связи и тепла!</i
            >
          </li>
          <br />
          <br />
          <li>
            Маша! Спасибо огромное за урок! Федя в восторге. Впервые за 40 дней
            общение с учителем.
          </li>
        </ul>
      </div>
    </div>

    <div id="bottom-button-wrapper">
      <img id="bottom-button" src="/assets/images/rightcircle.png" />
    </div>
  </div>
</div>
