<app-parent-area></app-parent-area>
<div id="wrapper" style="display: none">
  <button routerLink="../children">Хочу оплачивать</button>
  <button (click)="freeClicked = !freeClicked">Не могу оплачивать</button>
  <div *ngIf="freeClicked">
    Пожалуйста опишите свою ситуацию и мы свяжемся с Вами,
    <br />чтобы обсудить план обучения
    <br />
    <textarea
      cols="80"
      rows="10"
      id="reason-for-free"
      placeholder="Please explain"
      [(ngModel)]="freeText"
      required
      minlength="10"
    ></textarea>
    <br />
    <button (click)="submitRequest()">Отправить</button>
    <br />
    <div>{{ successMessage }}</div>
    <div>{{ currentError }}</div>
  </div>
</div>
