.background {
  background-color: #d8d7e1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

#top-passage {
  color: #46313d;
  font-size: 35px;
  font-family: "Zhizn";
  text-align: center;
  line-height: 150%;
}

#first-passage, #second-passage, #third-passage, #fourth-passage {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 150%;
  color: #1c1717;
}

#first-title, #second-title, #third-title {
  font-family: "Zhizn";
  font-size: 32px;
  line-height: 80px;
}

#first-title {
  color: #b45515;
}

#second-title {
  color: #17596d;
}

#third-title {
  color: #9e415d;
}
