.background {
  background-color: #d8d7e1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

#top-passage {
  color: #46313d;
  font-size: 35px;
  font-family: "Zhizn";
  text-align: center;
  line-height: 150%;
}

.container {
  display: flex;
  align-items: center;
}

#first-container {
  margin-top: 80px;
}

#second-container {
  margin-top: 100px;
}

#third-container {
  margin-top: 65px;
}

.text, .image {
  width: 100%;
}

.image {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Zhizn";
  font-size: 32px;
  line-height: 80px;
}

.passage {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 150%;
  color: #1c1717;
  max-width: 580px;
}

#first-title {
  color: #b45515;
}

#second-title {
  color: #17596d;
}

#third-title {
  color: #9e415d;
  margin-top: 70px;
}


#orange-umbrella, #baloon {
  transform: scaleX(-1);
}

#five {
  height: 350px;
}

#baloon {
  height: 575px;
}

#bold {
  font-weight: 400;
}