<div id="background">
  <div id="top-passage">
    Блуждающая тардиграда – он-лайн школа для детей,<br />
    которые оказались отрезаны от систем образования в связи<br />
    с российско-украинским конфликтом.
  </div>

  <div id="mobile-separation"></div>

  <div class="container" id="first-container">
    <div class="text">
      <div class="title" id="first-title">
        кого<br class="mobile-only"> мы берем<br class="mobile-only"> в школу?
      </div>
      <div class="passage">
        Мы не делим людей по цветам и не будем выяснять<br class="mobile-none">
        превратился ли в труху ваш дом или только ваша обычная<br class="mobile-none">
        жизнь. Для нас любой ребенок, который больше не имеет<br class="mobile-none">
        возможности учиться, - в беде.
      </div>
    </div>
    <div class="image five-image">
      <img id="five" src="/assets/images/five.png" />
    </div>
  </div>

  <div class="container" id="second-container">
    <div class="image mobile-none">
      <img id="baloon" src="/assets/images/baloon.png" />
    </div>
    <div class="text">
      <div class="title" id="second-title">
        нужно ли платить?
      </div>
      <div class="passage">
        Если вы находитесь в сложной ситуации и ваши дети не могут ходить в школу - все занятия бесплатны.
        <br><br>
        Мы работаем для всех и будем рады стать для вас онлайн-школой дополнительного образования. Пока ваши донаты для нас - единственный источник финансирования. Если вы не в бегах, мы ожидаем от вас оплаты в приемлемом для вас объеме.
      </div>
      <div class="image mobile-only">
        <img id="fossil" src="/assets/images/fossil.png" />
      </div>
      <div class="title" id="third-title">
        кто мы и что мы делаем?
      </div>
      <div class="passage">
        Этот проект родился спонтанно: мы в ужасе смотрели, как дети наших друзей из Украины эвакуируются на машине в Грецию. Как дети других наших друзей, покинувших Россию, смотрели в стену, оказавшись отрезаны от своей жизни.
        <br><br>
        <div id="bold">
          Маша из Питера (сейчас в Белграде) и Федя из Харькова (сейчас в Болгарии) - это про наших детей короткой строкой.
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="third-container">
    <div class="text">
      <div class="passage">
        Мы смотрели на бессилие педагогов, которые не понимали, что делать. Когда происходит что-то плохое, главное - просто делать что-то, что было бы НЕ плохим. Мы написали в соцсетях пост о том, что готовы взять пару бесплатных групп. Назавтра родилась Тардиграда.
        <br><br>
        <div class="image mobile-only">
          <img id="orange-umbrella" src="/assets/images/orange-umbrella.png" />
        </div>
        Тардиграда - это школа. Хотя, на самом деле, она больше похожа на сообщество людей с близкими ценностями. Дети ходят на уроки, родители подслушивают, а потом выпрашивают себе отдельные занятия. Кто-то знакомится и, случайно оказавшись в одной точке мира, начинает общаться оффлайн.
        <br><br>
        Все наши учителя - это люди, которым неуютно в обычной школе. Которые ненавидят планы уроков, заполнение журналов и выставление оценок. Зато они все любят и знают свои предметы и уважают детей.    
      </div>
    </div>
    <div class="image mobile-none">
      <img id="fossil" src="/assets/images/fossil.png" />
    </div>
  </div>

  <div class="container" id="fourth-container">
    <div class="image mobile-none">
      <img id="orange-umbrella" src="/assets/images/orange-umbrella.png" />
    </div>
    <div class="image mobile-only">
      <img id="baloon" src="/assets/images/baloon.png" />
    </div>
    <div class="text">
      <div class="passage">
        Мы все находимся в разных уголках земного шара и, благодаря этому проекту, собрались вместе. Мы ходим на педсоветы, потому что там весело. Мы спорим в учительской, на скольких ножках тардиграда носит штаны.
        <br><br>
        Для нас в уроках главное - смысл. И мы хотим, чтобы детям было интересно. И мы не стесняемся задавать домашку!
        <br><br>
        Мы знаем, что сейчас у всех очень неустроенная жизнь, мы не пытаемся догнать программы школ всех стран мира. Мы стараемся быть для наших детей островком стабильности и нормальной жизни. Местом, где нет войны.    
      </div>
    </div>
  </div>

  <div id="donation-separation"></div>

  <div id="donation-area">
    <div class="last-animal-container mobile-none">
      <img class="image8" src="/assets/images/Animal.png" />
    </div>
    <div id="last-title">Блуждающая тардиграда</div>
    <div id="last-text">
      волонтерский проект
      <br />
      <div class="mobile-only height20"></div>
      Мы существуем <br class="mobile-only" />благодаря вашей помощи
    </div>
    <div class="button-wrapper" routerLink="/donation">
      <div class="last-animal-container mobile-only">
        <img class="image8" src="/assets/images/Animal.png" />
      </div>
      <div class="button-under-schedule">
        <div id="button-text">помочь школе</div>
      </div>
    </div>
  </div>