#title {
  font-family: "Zhizn";
  color: rgb(75, 96, 133);
  font-size: 26px;
  padding-top: 139px;
  padding-bottom: 16px;
}

#zone-container {
  width: 330px;
  height: 37px;
  border: 1px solid rgb(75, 96, 133);
  border-radius: 12px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

#zone-container::after {
  content: url("/assets/images/triangle.svg");
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: -18px;
}

#zone-container.new-student::after {
  display: none;
}

#zone-select {
  border: none;
  font-size: 19px;
  display: flex;
  align-items: center;
  margin-left: 17px;
  font-weight: 300;
  font-family: "Ubuntu";
  color: #182240;
  padding: 5px 0;
  width: 305px;
}

.new-student #zone-select {
  width: 100%;
}

::ng-deep .mat-select-arrow {
  display: none !important;
}

select:focus-visible {
  border: none;
  outline: none;
}

::ng-deep .cdk-overlay-container {
  top: 60px;
  opacity: 0.95;
}

::ng-deep .mat-select-panel {
  border-radius: 12px !important;
}

::ng-deep .mat-select-panel .mat-option {
  height: 2em !important;
}

@media screen and (max-width: 1260px) {
  #title {
    padding-top: 30px;
    padding-bottom: 7px;
    font-size: 18px;
  }

  #zone-select {
    font-size: 14px;
    width: 270px;
    margin-left: 15px;
  }

  ::ng-deep .notuserpage .mat-select-value {
    color: rgb(204, 206, 220);
  }

  #zone-container {
    width: calc(100% - 2px);
    max-width: 360px;
    height: 42.5px;
    margin-bottom: 30px;
  }
}

.new-student {
  border: 1px solid white !important;
  max-width: 100% !important;
  background: rgb(215, 215, 224);
  font-weight: 300;
  outline: none;
  border-radius: 10px;
}

.new-student #zone-select {
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .new-student {
    width: calc(100% - 26px) !important;
    max-width: calc(100% - 26px) !important;
    margin: 5px 0 24px 0;
    padding: 0 10px;
    font-size: 14px;
    height: 42px;
  }

  .new-student #zone-select {
    margin-left: 0;
  }
}

@media screen and (min-width: 801px) {
  .new-student {
    height: 52px !important;
    margin-bottom: 29px !important;
    width: calc(100% - 14px) !important;
    font-size: 20px;
    padding: 0 5px;
    margin-top: 8px;
  }
}
