
#title {
  font-family: "Zhizn";
  color: rgb(75, 96, 133);
  font-size: 26px;
  padding-top: 139px;
  padding-bottom: 15px;
}

#zone-container {
  width: 330px;
  height: 35px;
  border: 1px solid rgb(75, 96, 133);
  border-radius: 12px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

#zone-select {
  border: none;
  font-size: 19px;
  display: flex;
  align-items: center;
  margin-left: 17px;
  font-weight: 300;
  font-family: "Ubuntu";
  color: #182240;
  padding: 5px 0;
  width: 305px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='body_1' width='17' height='15' fill='rgb(75, 96, 133)'><g transform='matrix(0.017 0 0 0.017 0 0)'><path d='M530.874 0.5L265.87 459.5L0.866 0.5L530.874 0.5' stroke-width='1' fill-rule='nonzero'/></g></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 7px;
  background-size: contain;
}

select:focus-visible {
  border: none;
  outline: none;
}

@media screen and (max-width: 1260px) {
  #title {
    padding-top: 30px;
    padding-bottom: 7px;
    font-size: 18px;
  }

  #zone-container {
    width: 292px;
    height: 42.5px;
    margin-bottom: 30px;
  }

  #zone-select {
    color: rgb(204, 206, 220);
    font-size: 14px;
    width: 290px;
    margin-left: 15px;
  }
}