<div class="background">
  <div id="left-part">
    <div id="inner-left">
      <div id="top-line">
        <img src="/assets/images/spanish-logo.png" id="course-logo" />
        <div id="left-title">испанский</div>
      </div>
      <div id="animal-line">
        <div class="subtitle">запись на курс</div>
        <div class="white-line"></div>
        <img id="animal" src="/assets/images/Animal.png" />
      </div>

      <div class="passage">
        Курс испанского для начинающих позволит овладеть базовыми знаниями и
        научит ориентироваться в языке. Дети познакомятся с актуальной испанской
        лексикой и необходимой грамматикой.
        <br /><br />Обучающая среда погрузит учеников в испанский язык, а
        коммуникативная методика позволит детям играть, двигаться и привыкать к
        новому языку естесственно и задорно. <br /><br />Курс также предполагает
        много творчества: мы будем делать поделки и использовать их в обучении.
        <br /><br />В конце курса возможна реализаация совместного проекта (по
        желанию студентов).
      </div>
      <div id="profile-line">
        <div class="subtitle">преподаватель</div>
        <div class="white-line"></div>
      </div>

      <div class="passage">
        <div id="teacher-name">валерия сонникова</div>
        Валерия Сонникова, учитель с 12+ летним стажем. Работает с детьми по
        коммуникативному методу с 2011 года.
        <br /><br />На своих занятиях старается уделять особое внимание развитию
        у студентов навыков общения и взаимодействия. Дипломированный специалист
        по использованию современных технологий в обучении.
      </div>
      <div id="reviews">
        <div class="subtitle">ваши отзывы</div>
        <div class="white-line"></div>
      </div>
    </div>
  </div>
  <div id="right-part">
    <div id="inner-right">
      <div id="right-title">
        уроки проходят<br />по пятницам<br />С 13:00 до 14:00
      </div>
      <div id="right-subtitle">краткая программа курса</div>
      <div>
        <br />- Приветствие и знакомство <br />- Род и число существительных
        <br />- Цвета. Глагол ser <br />- Прилагательные <br />- Числительные
        <br />- Глагол soy <br />- Семья <br />- Природа <br />- Еда <br />-
        Путешествия
      </div>
    </div>
  </div>
</div>
