#desktop {
  background-color: rgb(216, 215, 224);
  color: rgb(216, 215, 224);
  display: flex;
}

#left-part {
  width: calc(100% - 468px);
  display: flex;
  justify-content: flex-end;
  padding-bottom: 500px;
}

#inner-left {
  margin-left: 112px;
  margin-right: 145px;
}

.course-logo {
  height: 142px;
}

#top-line {
  display: flex;
  padding-top: 122px;
  padding-bottom: 73px;
}

.title-and-reviews {
  padding-left: 35px;
  padding-top: 53px;
}

.course-title {
  color: rgb(37, 16, 43);
  font-size: 55px;
  padding-bottom: 22px;
  font-family: "Zhizn";
}

.iconRatingStar {
  font-size: 18px;
  padding-right: 3px;
}

.reviews-sum {
  display: flex;
  color: rgb(37, 16, 43);
}

.review-text {
  padding-left: 3px;
  font-size: 15px;
  font-weight: 300;
}

.heart-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 15px;
}

.heart {
  height: 35px;
}

.heart-counter {
  font-size: 11px;
  font-weight: 400;
  margin-left: -7px;
  line-height: 100%;
  padding-bottom: 5px;
}

.user-textarea {
  height: 105px;
  width: 92%;
  border: 1px solid rgb(37, 16, 43);
  background: #d8d7e1;
  border-radius: 20px;
  margin: 15px 0;
  padding: 10px;
  font-size: 20px;
}

.subtitle {
  color: rgb(173, 91, 97);
  font-size: 34px;
  font-family: "Zhizn";
}

#animal-line {
  padding-bottom: 80px;
}

#animal {
  height: 55px;
  transform: translateY(3px) rotate(200deg);
  margin-top: -10px;
  margin-left: 170px;
}

.passage {
  color: rgb(67, 50, 60);
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  padding-right: 20px;
  white-space: pre-line;
}

.white-line {
  border-bottom: 1px solid white;
  width: 100%;
  padding-top: 14px;
}

#profile-line {
  padding-top: 160px;
  padding-bottom: 120px;
}

.teacher-name {
  color: rgb(67, 50, 60);
  font-size: 34px;
  font-family: "Zhizn";
  padding-bottom: 18px;
}

.reviews {
  padding-top: 160px;
}

.review {
  padding-top: 70px;
}

.reviewer-name {
  font-family: "Zhizn";
  font-size: 24px;
}

.review-inner {
  padding-left: 20px;
}

.rating-line {
  display: flex;
  align-items: center;
}

.review-date {
  font-size: 12px;
  padding-left: 10px;
}

.review-content {
  font-size: 15px;
  padding-top: 14px;
}

.new-stars {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.new-stars .iconRatingStar {
  font-size: 50px;
}

#right-part {
  width: 468px;
  background-color: rgb(37, 16, 43);
  color: rgb(181, 154, 137);
  display: flex;
  padding-bottom: 250px;
}

#inner-right {
  padding: 150px 110px 0 50px;
  width: 100%;
}

.time-title {
  font-size: 30px;
  font-family: "Zhizn";
  line-height: 150%;
  padding-bottom: 55px;
}

.oval {
  background: rgb(181, 154, 137);
  color: rgb(37, 16, 43);
  width: 170px;
  height: 24px;
  border-radius: 20px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 16px;
  line-height: 140%;
}

.bullets-title {
  margin-top: 103px;
  font-size: 20px;
  font-family: "Zhizn";
}

.bullets {
  padding-top: 18px;
  font-size: 16px;
  font-weight: 300;
  line-height: 190%;
  white-space: pre-line;
}

.circles {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -80px;
  margin-top: -50px;
}

.circle-container {
  border: 1px solid white;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin-right: 20px;
}

.white-circle {
  font-family: "Zhizn";
  background: white;
  color: black;
  font-size: 18px;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(216, 215, 224);
  line-height: 130%;
}

.teacher-container {
  width: calc(100% - 20px);
  display: flex;
  justify-content: flex-end;
  margin-top: -98px;
  margin-bottom: -115px;
}

.teacher-image-container {
  border: 1px solid white;
  height: 210px;
  width: 210px;
  border-radius: 50%;
}

.teacher-wrapper,
.teacher-image,
.image-shade {
  height: 192px;
  width: 192px;
  border-radius: 50%;
}

.teacher-wrapper {
  border: 9px solid rgb(216, 215, 224);
  position: relative;
}

.teacher-image {
  position: absolute;
  z-index: 10;
}

.image-shade {
  background: radial-gradient(transparent 62%, #000) 50% calc(90% + 3px);
  transform: rotate(-45deg);
  position: absolute;
  z-index: 20;
}

.review-form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 12px;
}

@media screen and (min-width: 1261px) {
  #mobile {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  #desktop {
    display: none;
  }

  #mobile {
    background-color: rgb(216, 215, 224);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .mobile-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 66px);
  }

  #purple-block {
    background-color: rgb(37, 16, 43);
    height: 163px;
    width: 100%;
  }

  .course-logo {
    height: 162px;
    margin-top: -102px;
  }

  .course-title {
    font-size: 42px;
    margin-top: 50px;
    padding-left: 0;
    padding-bottom: 15px;
  }

  .reviews-sum {
    padding-bottom: 92px;
    align-items: center;
  }

  .iconRatingStar {
    font-size: 14px;
  }

  .review-text {
    font-size: 12px;
  }

  .subtitle {
    font-size: 28px;
  }

  .circles {
    padding-top: 82px;
    display: flex;
    justify-content: center;
  }

  .white-line {
    padding-top: 5px;
  }

  .circle-container {
    width: 116px;
    height: 116px;
    margin-right: 0;
    margin-left: 16px;
  }

  .left-circle {
    margin-left: 0;
  }

  .white-circle {
    width: 108px;
    height: 108px;
    font-size: 16px;
    border: 4px solid rgb(216, 215, 224);
  }

  .purple-second {
    background-color: rgb(37, 16, 43);
    margin-top: 118px;
    width: 100%;
    padding-bottom: 43px;
  }

  .time-title {
    text-align: center;
    color: rgb(181, 154, 137);
    padding-top: 52px;
  }

  .description-passage {
    padding-top: 40px;
  }

  .passage {
    font-size: 16px;
    padding-right: 0;
  }

  .subtitle-mobile {
    padding-top: 77px;
    width: 100%;
  }

  .bullets {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .teacher-container {
    margin: 0;
    padding-top: 28px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
  }

  .teacher-image {
    padding-right: 0;
  }

  .subtitle-teacher {
    font-size: 30px;
  }

  .teacher-name {
    font-size: 21px;
    padding-top: 40px;
  }

  .reviews {
    padding-top: 75px;
  }

  .review {
    padding-top: 40px;
  }

  .reviewer-name {
    font-size: 22px;
  }

  #padding {
    padding-bottom: 70px;
  }

  #mobile-animal {
    transform: scaleX(-1) rotate(20deg);
    height: 100px;
    margin-left: -160px;
    margin-bottom: -20px;
  }

}
