<app-popup [isPaying]="isPaying" [showPopup]="showPopup" [lectureId]="id" (hidePopup)="showPopup = false"></app-popup>
<div id="desktop">
  <div id="left-part">
    <div id="inner-left">
      <div id="top-line">
        <div class="logo-background" [style.background]="course.background">
          <img [src]="course.image" class="course-logo" />
        </div>
        <div class="title-and-reviews">
          <div class="course-title">{{ course.title }}</div>
          <div class="reviews-sum">
            <span
              class="material-icons iconRatingStar"
              *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
              [class.empty-star]="i + 1 > stars"
            >
              {{
                i + 1 <= stars
                  ? "star_rate"
                  : stars % 1 !== 0 && (stars | round) === i + 1
                  ? "star_half"
                  : "star_outline"
              }}
            </span>
            <div class="review-text">
              {{ stars }} &nbsp;|&nbsp; Оценки: {{ totalReviews }}
            </div>
          </div>
        </div>
      </div>
      <div id="animal-line">
        <div class="subtitle">запись на курс</div>
        <div class="circles">
          <div class="circle-container">
            <div class="white-circle" (click)="pay()">хочу оплатить</div>
          </div>
          <div class="circle-container">
            <div class="white-circle" (click)="skipPaying()">не могу оплачивать</div>
          </div>
          <div *ngIf="isLoggedWarning" class="not-logged-warning">Must login first</div>
        </div>
        <div class="white-line"></div>
        <img id="animal" src="/assets/images/Animal.png" />
      </div>

      <div class="passage">
        {{ course.description }}
      </div>
      <div id="profile-line">
        <div class="subtitle">преподаватель</div>
        <div class="teacher-container">
          <div class="teacher-image-container">
            <div class="teacher-wrapper">
              <img class="teacher-image" [src]="course.profile" />
            </div>
          </div>
        </div>
        <div class="white-line"></div>
      </div>

      <div class="passage">
        <div class="teacher-name">{{ course.teacher }}</div>
        {{ course.about }}
        <div class="reviews">
          <div class="subtitle">ваши отзывы</div>
          <div class="white-line"></div>
          <div *ngFor="let review of reviews; let ind = index" class="review">
            <div class="review-inner">
              <div class="reviewer-name">{{ review.name }}</div>
              <div class="rating-line">
                <span
                  class="material-icons iconRatingStar"
                  *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
                  [class.empty-star]="i + 1 > review.stars"
                >
                  {{
                    i + 1 <= review.stars
                      ? "star_rate"
                      : review.stars % 1 !== 0 &&
                        (review.stars | round) === i + 1
                      ? "star_half"
                      : "star_outline"
                  }}
                </span>
                <div class="review-date">{{ review.date }}</div>
              </div>
              <div class="review-content">{{ review.content }}</div>
              <div class="heart-container">
                <img
                  class="heart"
                  (click)="changeHeart(ind)"
                  [src]="
                    heartClicked[ind]
                      ? '/assets/images/red-heart.png'
                      : '/assets/images/white-heart.png'
                  "
                />
                <div class="heart-counter">
                  {{ review.count }}
                </div>
              </div>
            </div>
            <div class="white-line"></div>
          </div>
          <div *ngIf="this.loginService.isStudent" class="review-form">
            <textarea class="user-textarea" [(ngModel)]="newReview"></textarea>
            <div *ngIf="newReview" class="new-stars">
              <span
                class="material-icons iconRatingStar"
                *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
                [class.empty-star]="i + 1 > newStars"
              >
                {{ i + 1 <= newStars ? "star_rate" : "star_outline" }}
              </span>
            </div>
            <div class="circle-container" (click)="submitReview()">
              <div class="white-circle">отправить</div>
            </div>
          </div>
          <div *ngIf="!this.loginService.isStudent" class="not-signed">
            Оценить курс и оставить комментарий могут только зарегистрированные
            пользователи
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="right-part">
    <div id="inner-right">
      <div class="time-title">
        уроки проходят<br />по пятницам<br />С
        {{ scheduleService.getTimeFormatted(course, false) }} до
        {{ scheduleService.getTimeFormatted(course, true) }}
      </div>
      <div class="oval">{{ course.subtitle }}</div>
      <div class="oval">{{ course.level }}</div>
      <div class="bullets-title">краткая программа курса</div>
      <div class="bullets">
        {{ course.bullets }}
      </div>
    </div>
  </div>
</div>

<div id="mobile">
  <div id="purple-block"></div>
  <div class="mobile-inner">
    <img [src]="course.image" class="course-logo" />
    <div class="course-title">{{ course.title }}</div>
    <div class="reviews-sum">
      <span
        class="material-icons iconRatingStar"
        *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
        [class.empty-star]="i + 1 > stars"
      >
        {{
          i + 1 <= stars
            ? "star_rate"
            : stars % 1 !== 0 && (stars | round) === i + 1
            ? "star_half"
            : "star_outline"
        }}
      </span>
      <div class="review-text">
        {{ stars }} &nbsp;|&nbsp; Оценки: {{ totalReviews }}
      </div>
    </div>
    <div class="subtitle">запись на курс</div>
    <div class="white-line"></div>
    <div class="circles">
      <div class="circle-container left-circle">
        <div class="white-circle" (click)="pay()">хочу оплатить</div>
      </div>
      <div class="circle-container">
        <div class="white-circle" (click)="skipPaying()">не могу оплачивать</div>
      </div>
      <div *ngIf="isLoggedWarning" class="not-logged-warning">Must login first</div>
    </div>
  </div>
  <div class="mobile-inner purple-second">
    <div class="time-title">
      уроки проходят<br />по пятницам<br />С
      {{ scheduleService.getTimeFormatted(course, false) }} до
      {{ scheduleService.getTimeFormatted(course, true) }}
    </div>
    <div class="oval">{{ course.subtitle }}</div>
    <div class="oval">{{ course.level }}</div>
  </div>
  <div class="mobile-inner">
    <div class="passage description-passage">
      {{ course.description }}
    </div>
    <div class="subtitle subtitle-mobile">краткая программа</div>
    <div class="white-line"></div>
    <div class="bullets">
      <div>{{ course.bullets }}</div>
    </div>
    <div class="subtitle subtitle-mobile subtitle-teacher">преподаватель</div>
    <div class="white-line"></div>
    <div class="teacher-container">
      <div class="teacher-image-container">
        <div class="teacher-wrapper">
          <img class="teacher-image" [src]="course.profile" />
        </div>
      </div>
    </div>
    <div class="passage">
      <div class="teacher-name">{{ course.teacher }}</div>
      {{ course.about }}
      <div class="reviews">
        <div class="subtitle">ваши отзывы</div>
        <div class="white-line"></div>
        <div *ngFor="let review of reviews; let ind = index" class="review">
          <div class="reviewer-name">{{ review.name }}</div>
          <div class="rating-line">
            <span
              class="material-icons iconRatingStar"
              *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
              [class.empty-star]="i + 1 > review.stars"
            >
              {{
                i + 1 <= review.stars
                  ? "star_rate"
                  : review.stars % 1 !== 0 && (review.stars | round) === i + 1
                  ? "star_half"
                  : "star_outline"
              }}
            </span>
            <div class="review-date">{{ review.date }}</div>
          </div>
          <div class="review-content">{{ review.content }}</div>
          <div class="heart-container">
            <img
              class="heart"
              (click)="changeHeart(ind)"
              [src]="
                heartClicked[ind]
                  ? '/assets/images/red-heart.png'
                  : '/assets/images/white-heart.png'
              "
            />
            <div class="heart-counter">
              {{ review.count }}
            </div>
          </div>
          <div class="white-line"></div>
        </div>
        <div *ngIf="this.loginService.isStudent" class="review-form">
          <textarea class="user-textarea" [(ngModel)]="newReview"></textarea>
          <div *ngIf="newReview" class="new-stars">
            <span
              class="material-icons iconRatingStar"
              *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
              [class.empty-star]="i + 1 > newStars"
            >
              {{ i + 1 <= newStars ? "star_rate" : "star_outline" }}
            </span>
          </div>
          <div class="circle-container" (click)="submitReview()">
            <div class="white-circle">отправить</div>
          </div>
        </div>
        <div *ngIf="!this.loginService.isStudent" class="not-signed">
          Оценить курс и оставить комментарий могут только зарегистрированные
          пользователи
        </div>
      </div>
    </div>
  </div>
  <img id="mobile-animal" src="/assets/images/Animal.png" />
  <div class="white-line"></div>
  <div id="padding"></div>
</div>
