<div id="desktop">
  <div id="left-part">
    <div id="inner-left">
      <div id="top-line">
        <img [src]="course.image" class="course-logo" />
        <div class="course-title">{{ course.title }}</div>
      </div>
      <div id="animal-line">
        <div class="subtitle">запись на курс</div>
        <div class="circles">
          <div class="circle-container">
            <div class="white-circle">хочу оплатить</div>
          </div>
          <div class="circle-container">
            <div class="white-circle">не могу оплачивать</div>
          </div>
        </div>
        <div class="white-line"></div>
        <img id="animal" src="/assets/images/Animal.png" />
      </div>

      <div class="passage">
        {{ course.description }}
      </div>
      <div id="profile-line">
        <div class="subtitle">преподаватель</div>
        <div class="teacher-container">
          <div class="teacher-image-container">
            <img class="teacher-image" [src]="course.profile" />
          </div>
        </div>
        <div class="white-line"></div>
      </div>

      <div class="passage">
        <div class="teacher-name">{{ course.teacher }}</div>
        {{ course.about }}
      </div>
      <div id="reviews">
        <div class="subtitle">ваши отзывы</div>
        <div class="white-line"></div>
      </div>
    </div>
  </div>
  <div id="right-part">
    <div id="inner-right">
      <div class="time-title">
        уроки проходят<br />по пятницам<br />С
        {{ scheduleService.getTimeFormatted(course, false) }} до
        {{ scheduleService.getTimeFormatted(course, true) }}
      </div>
      <div class="oval">{{ course.subtitle }}</div>
      <div class="oval">{{ course.level }}</div>
      <div class="bullets-title">краткая программа курса</div>
      <div class="bullets">
        {{ course.bullets }}
      </div>
    </div>
  </div>
</div>

<div id="mobile">
  <div id="purple-block"></div>
  <div class="mobile-inner">
    <img [src]="course.image" class="course-logo" />
    <div class="course-title">{{ course.title }}</div>
    <div class="subtitle">запись на курс</div>
    <div class="white-line"></div>
    <div class="circles">
      <div class="circle-container left-circle">
        <div class="white-circle">хочу оплатить</div>
      </div>
      <div class="circle-container">
        <div class="white-circle">не могу оплачивать</div>
      </div>
    </div>
  </div>
  <div class="mobile-inner purple-second">
    <div class="time-title">
      уроки проходят<br />по пятницам<br />С
      {{ scheduleService.getTimeFormatted(course, false) }} до
      {{ scheduleService.getTimeFormatted(course, true) }}
    </div>
    <div class="oval">{{ course.subtitle }}</div>
    <div class="oval">{{ course.level }}</div>
  </div>
  <div class="mobile-inner">
    <div class="passage description-passage">
      {{ course.description }}
    </div>
    <div class="subtitle subtitle-mobile">краткая программа</div>
    <div class="white-line"></div>
    <div class="bullets">
      <div>{{ course.bullets }}</div>
    </div>
    <div class="subtitle subtitle-mobile subtitle-teacher">преподаватель</div>
    <div class="white-line"></div>
    <div class="teacher-container">
      <div class="teacher-image-container">
        <img class="teacher-image" [src]="course.profile" />
      </div>
    </div>
    <div class="passage">
      <div class="teacher-name">{{ course.teacher }}</div>
      {{ course.about }}
      <div id="padding"></div>
    </div>
  </div>
</div>
