<app-zone-selector
  [userpage]="true"
  (changeTz)="scheduleService.saveUserTz($event)"
></app-zone-selector>

<div id="week-buttons" class="wide-none">
  <div class="left-triangle wide-none" (click)="secondHalf = !secondHalf">
    <img src="/assets/images/triangle.svg" />
  </div>
  <div
    *ngFor="let day of (secondHalf ? weekSecondHalf : weekFirstHalf) | keyvalue"
    class="day-button wide-none"
    [class.selectedDay]="mobileDay === day.key"
    (click)="mobileDay = day.key"
  >
    {{ day.value }}
  </div>
  <div class="right-triangle wide-none" (click)="secondHalf = !secondHalf">
    <img src="/assets/images/triangle.svg" />
  </div>
</div>

<div id="container">
  <div id="hour-column">
    <div class="decor"></div>
    <div class="decor hour" *ngFor="let hour of hourColumn">
      {{ hour + scheduleService.currentTz.offset + ":00" }}
    </div>
  </div>

  <ng-container *ngFor="let day of scheduleService.week; let i = index">
    <div
      class="day"
      *ngIf="(innerWidth < 801 && i === mobileDay) || innerWidth > 800"
    >
      <div *ngIf="innerWidth > 800" class="decor" [class.last]="i === 6">
        {{ day }}
      </div>
      <div *ngIf="innerWidth < 801" class="decor last">{{ day }}</div>
      <app-user-schedule-day
        [dailySchedule]="scheduleService.lecturesArray[i]"
        [dayNumber]="i"
        (lectureChange)="onLectureChange($event)"
      ></app-user-schedule-day>
    </div>
  </ng-container>
  <div id="right-line"></div>
</div>
