#container {
  display: flex;
}

.decor {
  text-align: center;
  background: white;
  border: 0.5px solid #d8d7e1;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.day {
  flex: 1 1 0px;
  width: 100%;
}

.hour {
  height: 42px;
  width: 60px;
}

.last {
  border-right: none;
}

#right-line {
  border: 1px solid white;
  border-top: 0.5px solid #d8d7e1;
}

@media screen and (min-width: 801px) {
  .wide-none {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #week-buttons {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .day-button {
    color: rgb(75, 96, 133);
    font-size: 16px;
    font-weight: 300;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
  }

  .selectedDay {
    background-color: rgb(75, 96, 133);
    color: rgb(216, 215, 224);
    font-weight: 500;
  }

  .right-triangle {
    transform: rotate(270deg);
  }

  .left-triangle {
    transform: rotate(90deg);
  }
}
