.background {
  background-color: #182240;
  color: rgb(204, 206, 220);
  display: flex;
}

#right-part {
  width: 515px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 500px;
}

#inner-right {
  width: 392px;
}

#left-part {
  width: calc(100% - 490px);
  background-color: #cbcedd;
  display: flex;
  justify-content: center;
}

#top-title {
  font-family: "Zhizn";
  font-size: 35px;
}

#animal {
  height: 90px;
  width: 90px;
  transform: translateY(3px) rotate(20deg);
  padding-left: 30px;
  margin-top: -35px;
}

#title-container {
  display: flex;
  align-items: center;
  padding-top: 120px;
}

#search-container {
  display: flex;
  padding-bottom: 75px;
}

#zone-container {
  width: 330px;
  height: 35px;
  border: 1px solid rgb(75, 96, 133);
  border-radius: 12px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

#search {
  width: 330px;
  height: 35px;
  background-color: inherit;
  outline: none;
  border: 1px solid rgb(204, 206, 220);
  border-radius: 12px;
}

#search-icon {
  position: relative;
  margin-left: -40px;
  width: 40px;
  height: 40px;
}

#line {
  border-top: 1px solid rgb(204, 206, 220);
  width: 13px;
  transform: rotate(135deg);
  position: absolute;
  bottom: 11px;
  left: 5px;
}

#circle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  border: 1px solid rgb(204, 206, 220);
}

#ages-title,
#categories-title {
  font-family: "Zhizn";
  font-size: 26px;
}

#ages {
  margin-top: 18px;
  margin-left: 1px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  max-width: 370px;
}

.age-button {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(75, 96, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
  margin-bottom: 16px;
}

.selectedAge {
  background-color: rgb(197, 125, 50);
  color: #182240;
  font-weight: 700;
}

.category {
  font-size: 22px;
  line-height: 170%;
  font-weight: 300;
  cursor: pointer;
}

.selectedCategory {
  color: rgb(197, 125, 50);
  font-weight: 500;
}

#categories-title {
  padding-top: 52px;
  padding-bottom: 12px;
}

#inner-left {
  width: calc(100% - 220px);
}

#left-title {
  font-family: "Zhizn";
  color: rgb(75, 96, 133);
  font-size: 26px;
  padding-top: 139px;
  padding-bottom: 15px;
}

#zone-select {
  border: none;
  font-size: 19px;
  display: flex;
  align-items: center;
  margin-left: 17px;
  font-weight: 300;
  font-family: "Ubuntu";
  color: #182240;
  padding: 5px 0;
  width: 305px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(75, 96, 133)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 101%;
  background-position-y: 1px;
  background-size: contain;
}

#week-buttons {
  display: flex;
  padding-bottom: 39px;
}

.day-button {
  color: rgb(75, 96, 133);
  font-size: 16px;
  font-weight: 300;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}

.selectedDay {
  background-color: rgb(75, 96, 133);
  color: rgb(216, 215, 224);
}

input {
  color: rgb(204, 206, 220);
  font-size: 20px;
}
