.background {
  background-color: #182240;
  color: rgb(204, 206, 220);
  display: flex;
}

#right-part {
  width: 515px;
  display: flex;
  justify-content: flex-end;
}

#inner-right {
  width: 392px;
}

#left-part {
  width: calc(100% - 490px);
  background-color: #cbcedd;
  display: flex;
  justify-content: center;
}

#top-title {
  font-family: "Zhizn";
  font-size: 35px;
}

#animal {
  height: 90px;
  width: 90px;
  transform: translateY(3px) rotate(20deg);
  padding-left: 30px;
  margin-top: -35px;
}

#title-container {
  display: flex;
  align-items: center;
  padding-top: 120px;
}

#search-container {
  display: flex;
  padding-bottom: 75px;
}

#search {
  width: 330px;
  height: 35px;
  background-color: inherit;
  outline: none;
  border: 1px solid rgb(204, 206, 220);
  border-radius: 12px;
}

#search-icon {
  position: relative;
  margin-left: -40px;
  width: 40px;
  height: 40px;
}

#line {
  border-top: 1px solid rgb(204, 206, 220);
  width: 13px;
  transform: rotate(135deg);
  position: absolute;
  bottom: 11px;
  left: 5px
}

#circle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  border: 1px solid rgb(204, 206, 220);
}

#ages-title, #subjects-title {
  font-family: "Zhizn";
  font-size: 26px;
}

#ages {
  margin-top: 18px;
  margin-left: 1px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  max-width: 370px;
}

.age-button {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(75, 96, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
  margin-bottom: 16px;
}

.selectedAge {
  background-color: rgb(197, 125, 50);
  color: #182240;
  font-weight: 700;
}

#subjects-title {
  padding-top: 52px;
  padding-bottom: 14px;
}

.subject {
  font-size: 22px;
  line-height: 150%;
  font-weight: 300;
  cursor: pointer;
}

#inner-left {
  width: calc(100% - 220px);
}

#left-title {
  font-family: "Zhizn";
  color: rgb(75, 96, 133);
  font-size: 22px;
  padding-top: 130px;
  padding-bottom: 15px;
}

#week-buttons {
  display: flex;
  padding-bottom: 26px;
}

.day-button {
  color: rgb(75, 96, 133);
  font-weight: 300;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}

.day-title {
  color: rgb(26, 34, 62);
  width: 100%;
  border-bottom: 1px solid rgb(26, 34, 62);
  margin-top: 44px;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 4px;
}

.day-name {
  font-family: "Zhizn";
  font-size: 26px;
}

.day-date {
  font-weight: 300;
}

.lecture-line {
  display: flex;
  padding-bottom: 14px;
  color: rgb(75, 96, 133);
}

.lecture-time {
  font-size: 20px;
}

.lecture-title {
  color: rgb(26, 34, 62);
  padding-left: 49px;
  font-size: 21px;
  font-weight: 500;
}

.lecture-teacher {
  padding-left: 6px;
  font-size: 21px;
}

.lecture-age {
  font-style: italic;
  font-size: 21px;
  padding-left: 6px;
}

.lecture-link {
  padding-left: 6px;
}

input {
  color: rgb(204, 206, 220);
  font-size: 20px;
}

