<div class="background">
  <div id="right-part">
    <div id="inner-right">
      <div id="title-container">
        <div id="top-title">расписание</div>
        <img id="animal" src="/assets/images/Animal.png" />
      </div>
      <div id="search-container">
        <input id="search" [(ngModel)]="search" />
        <div id="search-icon">
          <div id="circle"></div>
          <div id="line"></div>
        </div>
      </div>
      <div id="ages-title">возраст</div>
      <div id="ages">
        <div
          *ngFor="let age of ageList"
          class="age-button"
          [class.selectedAge]="selectedAges.includes(age)"
          (click)="toggleAge(age)"
        >
          {{ age }}{{ age === 18 ? "+" : "" }}
        </div>
      </div>
      <div id="categories-title">предметы</div>
      <div
        *ngFor="let category of scheduleService.getCategoriesList()"
        class="category"
        [class.selectedCategory]="selectedCategories.includes(category)"
        (click)="toggleCategory(category)"
      >
        {{ category }}
      </div>
    </div>
  </div>
  <div id="left-part">
    <div id="inner-left">
      <div id="left-title">время указанное в расписании GMT +3</div>
      <div id="week-buttons">
        <div
          *ngFor="let day of weekMapShort | keyvalue"
          class="day-button"
          [class.selectedDay]="selectedDays.includes(day.key)"
          (click)="toggleDay(day.key)"
        >
          {{ day.value }}
        </div>
      </div>
      <div *ngFor="let day of weekDays">
        <div *ngIf="filterday(day)">
          <app-schedule-day
            [attr.id]="'schedule-day'+day"
            [day]="day"
            [search]="search"
            [selectedAges]="selectedAges"
            [selectedDays]="selectedDays"
            [selectedCategories]="selectedCategories"
            style="display:none"
            (makeVisible)="onMakeVisible($event, 'schedule-day'+day)"
          ></app-schedule-day>
        </div>
      </div>
    </div>
  </div>
</div>
