<div style="height:100vh;display:flex;justify-content: center;align-items:center;">
  <div style="background: white;padding: 10px;border-radius:10px;display: flex; flex-direction: column;justify-content: center;align-items: center;">
    <div mat-dialog-title>
      Welcome {{type}}, please {{login ? 'login': 'register'}}
    </div>
    <div mat-dialog-content>
      <input placeholder="name" [(ngModel)]="name">
      <input placeholder="password" [(ngModel)]="password">
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="[name, password]" cdkFocusInitial>Submit</button>
    </div>
    <div style="display: flex;">
      <button mat-button (click)="login = false">
        I don't have account yet
      </button>
      <button mat-button (click)="type = 'teacher'">
        I am a teacher
      </button>
    </div>
  </div>
</div>