<div id="container" [class.percent]="!login">
  <div id="wrapper">
    <div id="rows">
      <div id="columns" [class.columns]="login">
        <div id="form-column">
          <div *ngIf="login" class="names-column narrow-none">
            <div>EMAIL</div>
            <div>Пароль</div>
          </div>
          <div *ngIf="!login" class="names-column narrow-none">
            <div *ngIf="isStudent">Имя</div>
            <div *ngIf="isStudent">Фамилия</div>
            <div>EMAIL</div>
            <div>Телеграм</div>
            <div>Пароль</div>
          </div>
          <form id="inputs-column" #myForm="ngForm">
            <input
              *ngIf="!login && isStudent"
              [(ngModel)]="firstName"
              placeholder="Имя"
              required
              minlength="3"
              #nameRef="ngModel"
              name="1"
            />
            <input
              *ngIf="!login && isStudent"
              [(ngModel)]="lastName"
              placeholder="Фамилия"
              required
              minlength="3"
              #nameRef="ngModel"
              name="2"
            />
            <input
              [(ngModel)]="email"
              placeholder="EMAIL"
              autocomplete="username"
              id="username"
              label="username"
              required
              minlength="3"
              #emailRef="ngModel"
              name="3"
            />
            <input
              *ngIf="!login"
              [(ngModel)]="telegram"
              placeholder="Телеграм"
              required
              minlength="3"
              #emailRef="ngModel"
              name="4"
            />
            <input
              [(ngModel)]="password"
              type="password"
              placeholder="Пароль"
              required
              minlength="3"
              #passwordRef="ngModel"
              name="5"
            />
            <div class="error-message" *ngIf="login">
              {{
                loginService.currentError
                  ? "неверный емейл или пароль"
                  : "&nbsp;"
              }}
            </div>
            <div class="checkbox-line">
              <input id="teacher-checkbox" type="checkbox" (change)="isStudent = !isStudent">Я учитель в Тардиграде
            </div>
          </form>
        </div>

        <div *ngIf="login" class="button-wrapper">
          <div
            (click)="submit()"
            class="button-submit"
            [class.smaller-button]="!login"
          >
            Вход
          </div>
        </div>
      </div>
      <div id="space-for-reg" *ngIf="!login"></div>
      <div id="bottom-line" *ngIf="login">
        <div id="white-line"></div>
        <div id="animal-button" *ngIf="login">
          <img id="animal" src="/assets/images/Animal.png" />
          <div id="dark-wrapper">
            <div class="button-wrapper">
              <div (click)="registrationClick(myForm)" class="button-submit">
                <div class="smaller-button">Регистрация</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reg-button-wrapper" *ngIf="!login">
        <div id="terms-note">
          Нажимая Присоединиться,
          <br />
          вы даете согласие на обработку<br />
          персональных данных и<br />
          соглашаетесь с
          <a routerLink="/privacy"
            >политикой <br />
            конфиденциальности</a
          >
        </div>
        <div class="button-wrapper">
          <div (click)="registrationClick(myForm)" class="button-submit">
            <div class="smaller-button">Регистрация</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="mobile-white-line" *ngIf="login"></div>

  <img id="right-flower" src="/assets/images/Ryabchik.png" />
</div>
