input:not(#teacher-checkbox), select {
  background-color: #220315 !important;
  color: white;
  font-size: 21px;
  height: 45px;
  width: 278px;
  border: 1px solid #d8d7e1;
  border-radius: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
  padding-left: 10px;
  outline: none;
}

input:not(#teacher-checkbox) {
  margin-left: 40px;
}

select {
  width: 292px;
  height: 50px;
  margin-left: 40px;
}

input:not(#teacher-checkbox):-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #220315 inset !important;
  -webkit-text-fill-color: white !important;
}

::placeholder {
  color: white;
  opacity: 1;
  font-family: "Zhizn";
  font-size: 18px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #220315;
  height: 100vh;
}

#wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Zhizn";
  font-size: 21px;
}

#terms-note {
  font-size: 13px;
  font-family: "Ubuntu";
  color: rgb(78, 67, 88);
  line-height: 120%;
}

#right-flower {
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 5%;
}

#columns,
#animal-button {
  display: flex;
  justify-content: center;
}

#columns {
  align-items: flex-start;
}

#animal-button {
  align-items: center;
}

.reg-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
}

#animal-button {
  justify-content: flex-start;
}

#form-column {
  display: flex;
}

.names-column div {
  margin-bottom: 51px;
  margin-top: 30px;
}

#inputs-column {
  display: flex;
  flex-direction: column;
  width: 332px;
}

.button-wrapper {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
  width: 122px;
  height: 122px;
}

#dark-wrapper {
  border: 30px solid #220315;
  border-radius: 50%;
  width: 124px;
  height: 124px;
}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 94px;
  height: 94px;
  background: white;
  border-radius: 50%;
  font-size: 28px;
  line-height: 120%;
  padding: 10px;
  border: 4px solid #220315;
  color: #220315;
}

.checkbox-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@media(hover: hover) {
  .button-submit:hover {
    background: #220315;
    color: white;
  }
}

#bottom-line {
  color: white;
  margin-top: 100px;
}

#space-for-reg {
  margin-top: 50px;
}

.smaller-button {
  font-size: 14px;
}

#white-line {
  margin-bottom: -105px;
  border-top: 1px solid white;
}

#bottom-line .button-wrapper {
  margin: 0;
}

#animal {
  transform: scaleX(-1) rotate(40deg);
  margin-top: -45px;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.error-message {
  font-size: 12px;
  font-family: "Ubuntu";
  font-weight: 300;
  color: #d8d7e1;
}

input.ng-invalid.ng-touched:not(#teacher-checkbox) {
  border: rgb(191, 66, 58) 1px solid;
}

@media screen and (min-width: 1261px) {
  .wide-none {
    display: none !important;
  }

  .error-message {
    margin-top: -15px;
    margin-left: 40px;
  }

  input::placeholder:not(#teacher-checkbox) {
    opacity: 0;
  }
}

@media screen and (max-width: 1260px) {
  #container {
    align-items: flex-start;
  }

  .percent {
    height: 100%;
  }

  .narrow-none {
    display: none !important;
  }

  #right-flower,
  #white-line {
    display: none;
  }

  #columns {
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
  }

  input:not(#teacher-checkbox) {
    width: 240px;
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 10px;
  }

  #wrapper {
    margin-top: 0;
  }

  .button-wrapper {
    margin-left: 140px;
    margin-top: 10px;
    height: 120px;
    width: 120px;
  }

  .button-submit {
    height: 92px;
    width: 92px;
    font-size: 24px;
  }

  #bottom-line {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 0;
    top: 520px;
  }

  #mobile-white-line {
    position: absolute;
    width: 100%;
    top: 607px;
    border-top: 1px solid white;
  }

  #animal-button {
    flex-direction: row-reverse;
    margin-left: 9px;
    z-index: 1;
  }

  #dark-wrapper {
    border: 5px solid #220315;
    height: 122px;
  }

  #animal {
    transform: scaleX(1) rotate(40deg);
    margin-top: -33px;
    margin-left: -12px;
    width: 90px;
    height: 90px;
  }

  #inputs-column {
    width: 252px;
  }

  .reg-button-wrapper {
    margin-top: 0;
    max-width: 254px;
    flex-direction: column;
    align-items: flex-start;
  }

  #space-for-reg {
    margin-top: 0;
  }

  select {
    width: 254px;
    height: 40px;
    border-radius: 10px;
  }
}
