<div id="container">
  <div id="wrapper">
    Привет {{ isParent ? "родитель" : "учитель" }}, 
    {{ login ? "вход" : "регистр" }} пожалуйста
    <input
      [placeholder]="login ? 'name or email' : 'name'"
      [(ngModel)]="name"
      required
      minlength="3"
      #nameRef="ngModel"
    />
    <input
      *ngIf="!login"
      placeholder="email"
      [(ngModel)]="email"
      required
      minlength="3"
      #emailRef="ngModel"
    />
    <input
      placeholder="password"
      [(ngModel)]="password"
      required
      minlength="3"
      #passwordRef="ngModel"
    />
    <div *ngIf="!login" id="terms-note">
      Нажимая Присоединиться, вы даете согласие на обработку<br>
      персональных данных и соглашаетесь <br>
      с <a href="#">политикой конфиденциальности</a>
    </div>
    <button (click)="submit()">{{login ? 'Вход' : 'Присоединиться'}}</button>
    <div
      *ngIf="nameRef.invalid && (nameRef.dirty || nameRef.touched)"
      class="alert"
    >
      <div *ngIf="nameRef.errors?.['required']">Name is required.</div>
      <div *ngIf="nameRef.errors?.['minlength']">
        Name must be at least 3 characters long.
      </div>
    </div>
    <div
      *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)"
      class="alert"
    >
      <div *ngIf="passwordRef.errors?.['required']">Password is required.</div>
      <div *ngIf="passwordRef.errors?.['minlength']">
        Password must be at least 3 characters long.
      </div>
    </div>
    <div>{{ loginService.currentError }}</div>
    <div id="buttons">
      <button mat-button (click)="login = !login">
        <div *ngIf="login">Регистрация</div>
        <div *ngIf="!login">Вход</div>
      </button>
      <button mat-button (click)="isParent = !isParent">
        Я {{ !isParent ? "родитель" : "учитель" }}
      </button>
    </div>
  </div>
</div>
