<div  id="container">
<div  id="content">
<div  id="title">
    Our teachers 
</div>
<div  id="flower-container">
<img  id="flower" src="/assets/images/right-flower.png">
</div>
<div  class="teachers-container">
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/images/sonya.png">
</div>
<div  class="teacher-name">
    Sophya Welle </div>
<div  class="teacher-bio">
    I am a graduate of Leningrad State University, with a major in Mathematical Linguistics. Over time, mathematics fell by the wayside, while linguistics survived. In 1993, I inadvertently became a teacher. Suddenly, it turned out to be my dream job. I worked at the Anichkov Lyceum in St.-Petersburg, Russia, for 30 years, give or take two months.

I also enjoy translating interesting things. I love to screen and discuss films.

</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/00АннаЗиндер.jpeg">
</div>
<div  class="teacher-name">
    Anya Zinder
</div>
<div  class="teacher-bio">
    I am a graduate of Leningrad State University, with a major in Mathematical Linguistics. Over time, mathematics fell by the wayside, while linguistics survived. In 1993, I inadvertently became a teacher. Suddenly, it turned out to be my dream job. I worked at the Anichkov Lyceum in St.-Petersburg, Russia, for 30 years, give or take two months. I also enjoy translating interesting things. I love to screen and discuss films.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/0Grisha.jpeg">
</div>
<div  class="teacher-name">
    Grigory Genikhovich
</div>
<div  class="teacher-bio">
    I am a graduate of Saint Petersburg State University, an embryologist, and a “Doctor habilitatus”, which is akin to a Doctor of Biological Sciences. I work at the University of Vienna. I am trying to understand what distinguishes the back from the belly in animals, and the hind from the front. I have always wanted a dog, but never had one :)
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/0ivankvasov.jpeg">
</div>
<div  class="teacher-name">
    Ivan Kvasov
</div>
<div  class="teacher-bio">
    I am a biologist and science popularizer, with a Ph.D. in Biology. I teach biology, chemistry, and geography to children and adults. I am skilled at explaining complex concepts in a simple and engaging manner. I teach children at the St.-Petersburg-based non-formal education school 'Apelsin,' the Jewish school 'Shamir,' the biological school 'Biotop', as well as at the international school 'Marabou.' For adults, I give lectures in the 'Chatology' project, conduct excursions with the Lurie Cultural Center in St.-Petersburg, and lead projects 'Just Like Animals' and 'Wonders and Adventures' worldwide. I was born into an old naturalist family: my great-grandfather, the academic Berg, was an ichthyologist, evolutionary biologist, and geographer. My grandmother Raisa Berg was a geneticist. My father Dmitry Kvasov is a geographer. I have lived in St. Petersburg my whole life.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/0ludmilamurgulets.jpeg">
</div>
<div  class="teacher-name">
    Lyudmila Murgulets
</div>
<div  class="teacher-bio">
    I am a social psychologist, with a Ph.D. in Psychology and a docent. I have taught social psychology and communication at universities,  and later transitioned from education to the business of manufacturing and selling fashionable women's clothing. Later, I served as the director of the Stockholm School of Economics in Russia. I have experience in business education and mentoring projects at ITMO University and the "Ingria" business incubator.</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/0nastyakarpova.jpeg">
</div>
<div  class="teacher-name">
    Nastya Karpova
</div>
<div  class="teacher-bio">
    I am about to graduate from the Philology Faculty of Saint Petersburg State University (Department of the History of Russian Literature). I am passionate about educational activism – I have been involved in organizing a summer camp for school children interested in literature and literary studies for two years now. I live, study, and work in St. Petersburg. In my free time, I enjoy looking at photographs of dogs of various breeds.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/0natamalinovskaya.jpeg">
</div>
<div  class="teacher-name">
    Nata F.-Malinovskaya
</div>
<div  class="teacher-bio">
    I teach math classes in the projects 'Mousemath' and 'Math Trails', as well as in-person groups at the Center for Pedagogical Excellence in Moscow. I want the learning experience to always be interesting and believe that we can handle anything that comes our way!
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/0Stanislavgurevich.jpeg">
</div>
<div  class="teacher-name">
    Stas Gurevich
</div>
<div  class="teacher-bio">
    I am currently the co-chair of the organizing committee and a member of the problem-solving commission at the International Linguistics Olympiad, as well as the head of traditional linguistic and multi-profile summer schools in Narva-Jõesuu, Estonia. I also have 25 years of experience teaching English, Spanish, and all sorts of linguistics.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/0ильялевин.jpeg">
</div>
<div  class="teacher-name">
    Ilya Levin
</div>
<div  class="teacher-bio">
    English teacher, tutor. While working at  the preschool department of the New School in Moscow, I realized how much I love spending time with children - it is inspiring…
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/0катяОбер.jpeg">
</div>
<div  class="teacher-name">
    Katya Ober
</div>
<div  class="teacher-bio">
    My first degree is in History (graduated from Saint Petersburg State University), and my third degree is in speech therapy. For the past 7 years, I have worked in St. Petersburg as a speech-pathologist. 
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/1dariasukhova.jpeg">
</div>
<div  class="teacher-name">
    Daria Sukhova
</div>
<div  class="teacher-bio">
    Graduated from the Biological Faculty of Moscow State University, specializing in Geobotany. Taught biology in school for eight years, participated in conducting the Biological Olympiad at Moscow State University, led classes during high school field practices for 15 years, and led classes during college field practices for 20 years. And of course, I play the guitar.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/AglayaFrolova.jpeg">
</div>
<div  class="teacher-name">
    Aglaia Frolova
</div>
<div  class="teacher-bio">
    My name is Aglaia! I'm 21, and I study prose by Varlam Shalamov at the Faculty of Philology at St. Petersburg University. I teach Russian and literature at a private school in St. Petersburg. I love yoga and taking walks with my dog named Dobby (like in "Harry Potter")!
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/ElenaKazakevich.jpeg">
</div>
<div  class="teacher-name">
    Elena Kazakevich
 </div>
<div  class="teacher-bio">
    I graduated from the Mathematics and Mechanics Faculty at Saint Petersburg State University, where I also completed my postgraduate studies. Later, I left the field of research and obtained a degree in teaching mathematics in Israel. Currently,I teach mathematics to  Israeli math teachers :). I also oversee a program for gifted children, do some research, and occasionally sing.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/Lucia.jpg">
</div>
<div  class="teacher-name">
    Lyudmila Andreeva
</div>
<div  class="teacher-bio">
My name is Lyudmila Andreeva, and I am 33 years old. In the 33 years, I have graduated from the Geography Faculty of Saint Petersburg State University with a master's degree with honors, led a real biological school for 4 years, participated in more than 30 expeditions (some of which I organized myself), and much more that cannot be detailed here, as I was asked to limit myself to one paragraph.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/Lucia.jpg">
</div>
<div  class="teacher-name">
    Lyudmila Pechatnikova
</div>
<div  class="teacher-bio">
    I am a teacher of Russian language and literature by diploma from theprevious century. I have worked as a journalist (for the newspaper "September First"), creating newspapers, books, and magazines with children, primarily at the School of Self-Determination. I have worked with special children and have become a neuro-linguist. I completed my master's degree at the Higher School of Economics in this century ( in "Philological Hermeneutics"). I am currently in Israel. I enjoy reading poetry and taking walks.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/valeria.jpg">
</div>
<div  class="teacher-name">
    Valeria Sonnikova 
</div>
<div  class="teacher-bio">
    I am a teacher with over 12 years of experience. I have been working with children using the communicative method since 2011. During my classes, I strive to pay special attention to developing students' communication and interaction skills. I am a certified specialist in using modern technologies in education.

</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/yuliaberezovskaya.jpg">
</div>
<div  class="teacher-name">
    Julia Berezovskaya
</div>
<div  class="teacher-bio">
    By education, I am a teacher of mathematics and computer science, although I have hardly worked in schools. I have taught mathematics and programming at various college-level programs and have been extensively involved in tutoring. Currently, I am a PhD student at a Swedish university, and I also have four children, so I have a lot of experience in explaining various things.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/Аннакононова.jpeg">
</div>
<div  class="teacher-name">
    Anna Kononova</div>
<div  class="teacher-bio">
    My name is Anya, and I am from St. Petersburg. By education, I am a hydrologist. My hobby is bicycle touring. I have traveled a lot both on a bicycle and for work around the world. I have four children. For my soul, I have started organizing various engaging activities for children of different ages, such as game libraries, active camps, and hikes. Several years ago, I retrained as a teacher of extracurricular education. Since 2018, I have been working at a school. Before the pandemic, I organized a children's club for travelers. Currently, I am running a school newspaper, an animation studio, and an environmental circle. I am studying to become a primary school teacher. We are planning to move to Israel.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/АняОрловская.jpeg">
</div>
<div  class="teacher-name">
    Anna Orlovskaya
</div>
<div  class="teacher-bio">
    I enjoy various types of work, but primarily I engage in programming and web design, graphic design, computer engineering, and writing programs in computer languages. I also have a good understanding of mathematics, physics, and accounting work, which has come in handy and brought me some bonuses on several occasions.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/ВалерияЛемешевская.jpeg">
</div>
<div  class="teacher-name">
    Valeria Lemeshovskaya
</div>
<div  class="teacher-bio">
    I strive to make my lectures as interactive and fun as possible; I try to present boring things in a way that is enjoyable for myself as well. I believe that directorial and animation work is, first and foremost, a way of thinking. That is why I don't merely teach the technical nuances of using an animation software - that is something anyone can quickly master. Rather, I teach my students how to think in a plastic and rhythmic manner.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/ВалерияТрофимова.jpeg">
</div>
<div  class="teacher-name">
    Valeria Trofimova
</div>
<div  class="teacher-bio">
    I graduated with a bachelor's degree from the Faculty of Philology at St. Petersburg State University, specializing in the History of French Literature. I completed my master's degree at the Faculty of Philosophy at St. Petersburg State University, specializing in the Philosophical Dialogue of Russia and France. I currently live and work in St. Petersburg. I teach French and have undergone training at the Jacques-Yves Cousteau school. I have also volunteered at "Anton is nearby" and "Perspectives" charities. 
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/виталийлернер.jpeg">
</div>
<div  class="teacher-name">
    Vitaliy Lerner
</div>
<div  class="teacher-bio">
    I am a Doctor of Neurobiological Sciences at the Hebrew University in Jerusalem. I specialize in the fields of cellular electrophysiology and optogenetics. I also teach experimental methods of neurophysiology at the Hebrew University, as well as an Introduction to Physics course at the Open University. Apart from my scientific pursuits, I have had experience as a musician (with an incomplete education in conducting) and as an athlete (working as a junior coach/instructor for figure skating).
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/гришаконников.jpeg">
</div>
<div  class="teacher-name">
    Grigoriy Konnikov 
</div>
<div  class="teacher-bio">
    I have a Bachelor's degree in Arts and Humanities (Faculty of Liberal Arts and Sciences at St. Petersburg State University), a Master's degree in Pedagogy (Herzen State Pedagogical University), and I am a graduate student at the Institute of History of the Russian Academy of Sciences. I am a historian through and through! In my classes, I prefer a seminar format, which involves not only lectures and readings but also discussions with students.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/Дарьятабачникова.jpeg">
</div>
<div  class="teacher-name">
    Daria Tabachnikova
</div>
<div  class="teacher-bio">
    I am an urbanist and economist. In the past, I was the founder of the public project "Bike-Friendly Petersburg" and the curator of the construction of bike lanes in St. Petersburg. Currently, I lead the project bureau SMENA (smenaburo.ru), which is engaged in projects in the field of urban planning, design, and redevelopment.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/Дина.jpeg">
</div>
<div  class="teacher-name">
    Dina Galkina
</div>
<div  class="teacher-bio">
    I graduated from the Chemical and Pharmaceutical Academy, completed my internship and postgraduate studies (without a degree). I worked at  a pharmacy for six years and taught at the "Apelsin" non-formal education school for four years. I have the ability to explain complex things in simple words. With beautiful diagrams and illustrations, I navigate the vast abstract world of chemical science.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/Машаремизова.jpeg">
</div>
<div  class="teacher-name">
    Masha Remizova
</div>
<div  class="teacher-bio">
    I graduated from the Faculty of Philology at Moscow State Pedagogical University and the Pedagogical Faculty at Moscow State University. I worked at the "Kovcheg-XXI" lyceum. Then, my husband and I moved from Moscow to the United States: first to Seattle, and then to Boston, where we currently live. Later, we had two daughters. And a hamster. Now I teach lessons for Russian-speaking children living all over the world. It's very exciting! I love to travel and read good books.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/МедведевФедор.jpeg">
</div>
<div  class="teacher-name">
    Fyodor Medvedev
</div>
<div  class="teacher-bio">
    I am a graduate of the Faculty of Physics at Moscow State University and have won the "Tutor of the Year" award multiple times. I specialize in working with mathematical anxiety. For those for whom it's painful, scary, and unclear.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/ОльгаКоршакова.jpg">
</div>
<div  class="teacher-name">
    Olga Korshakova
</div>
<div  class="teacher-bio">
    I am a graduate of the Theater Studies Faculty at The Russian Institute for Theatre Arts (GITIS), a co-founder, and producer of the site-specific theater Liquid Theatre. I worked in radio for 10 years, hosting my own program "Others in the City" - about those who change the world. My favorite activity is asking questions and listening to what other people have to say. I create courses for children and teenagers on interviewing, radio journalism, art, and drama in the English language. I believe that today there is nothing more important than education, peacebuilding, freedom of speech, and the observance of human rights.
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/assets/uploads/янавайсборд.jpeg">
</div>
<div  class="teacher-name">
    Yana Vaysbord
</div>
<div  class="teacher-bio">
    I graduated from the Tartu Faculty of Philology and the Department of Foreign Languages, and now I work at the Moscow State University Science and Technology Center. I have been teaching English for 29 years. I focus on lively conversational English with a lot of authentic source listening. I believe that open ears are the key to healthy communication!
</div>
<div  class="teacher-block">
<div  class="image-wrapper">
<img  class="teacher-image" src="/tardigrada/tardigrada/src/assets/uploads/1698172806771DSC01290.jpg">
</div>
<div  class="teacher-name">
    Liza Drozdovskaya
</div>
<div  class="teacher-bio">
    I am involved in linguistics: writing articles and conducting research on censorship. I work in human rights and strongly believe in people. I am against war. I love painting animals and fruits in watercolor, and also inventing unconventional foods. In my course, I want to include as much of what surrounds us right now as possible. This way, everyone can recognize themselves and find themselves in every word, and have fun in the process!
</div>
<!---->
</div>
</div>
</div>

