<div id="container">
  <div id="top-title">
    Спасибо, что помогаете нашим детям адаптироваться<br />
    к новой жизни и найти в ней смысл!
  </div>
  <div id="first-block">
    <div id="square-wrapper">
      <div id="square">
        <div id="square-inner">
          <div id="square-title">сделать пожертвование</div>
          <div id="subtitle">c международных счетов</div>
          <div id="big-buttons">
            <div
              class="big-button"
              [class.selected]="repeat"
              (click)="repeat = true"
            >
              Ежемесячно
            </div>
            <div
              class="big-button"
              [class.selected]="!repeat"
              (click)="repeat = false"
            >
              Разово
            </div>
          </div>

          <div id="small-buttons">
            <div
              *ngFor="let price of prices"
              class="small-button tooltip"
              [class.selected]="sum === price"
              (click)="sum = price"
            >
              {{ price }}€
              <span *ngIf="price === 30" class="tooltiptext">
                отправляя 30 евро<br />
                вы оплачиваете<br />
                час работы учителя<br />
                с 10 детьми
              </span>
            </div>
            <div class="small-button" [class.selected]="!prices.includes(sum)">
              <input
                id="otherSum"
                [(ngModel)]="otherSum"
                placeholder="Другая"
                type="number"
                (input)="sum = otherSum"
              />
            </div>
          </div>
          <div class="details-fields">
            <div class="details-field">
              <input [(ngModel)]="myName" placeholder="Ваше имя" />
            </div>
            <div class="details-field">
              <input [(ngModel)]="myEmail" placeholder="Ваш email" />
            </div>
          </div>
          <div id="terms-line">
            <div id="terms">
              Нажимая на кнопку «Помочь», вы соглашаетесь с условиями оферты,
              политики в отношении и защиты персональных данных и даёте согласие
              на обработку своих персональных данных.
            </div>
            <div class="button-wrapper">
              <div class="button-submit" (click)="showPayment = true">помочь</div>
            </div>
          </div>
          <div id="paypal-button" [style.display]="showPayment ? 'block' : 'none'"></div>
          <div id="paypal-sum" style="display:none;">{{sum}}</div>

          <form ngNoForm action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="BKVDZTFGBSSMQ" />
            <input type="image" src="https://pics.paypal.com/00/s/YTdkZDc3YzEtYjk3Yi00ZDYxLTkzNjMtMGY0YzQxMDE0ZGU4/file.PNG" border="0" name="submit" title="помочь" alt="Кнопка «Пожертвовать через PayPal»" />
          </form>

          <div id="bottom-line">
            Вы так же можете помочь намс российских счетов:<br />
            на карту Тинькофф по телефону +7 931 224 41 43
          </div>
        </div>
      </div>
    </div>
    <div id="square-side">
      <div id="side-inner">
        <div id="side-title">зачем нам деньги?</div>
        <ul id="bullets">
          <li>На зарплату преподавателей.</li>
          <li>
            На поддержку разных онлайн сервисов<br />
            вроде зума, сайта и т.д.
          </li>
          <li>
            На регистрацию организации<br />
            и сопутствующие расходы.
          </li>
          <li>На организацию оффлайн-сессий.</li>
        </ul>
        <div id="orange-note">
          <div id="orange1">Ваша помощь для нас –</div>
          <div id="orange2">единственный источник</div>
          <div id="orange3">финансирования!</div>
        </div>
      </div>
    </div>
  </div>
  <div id="second-block">
    <div id="text-column">
      <div id="text-wrapper">
        <div id="bottom-title">чем ещё помочь</div>
        <div class="bottom-subtitle">информационно</div>
        <div class="bottom-text">
          Расскажите о нас в своих соц сетях, друзьям и знакомым, которым мы
          можем быть нужны.
        </div>
        <div class="bottom-subtitle">поволонтёрить</div>
        <div class="bottom-text">
          У нас большая творческая команда и всегда есть чем заняться. Для этого
          расскажите нам что вы умеете и хотите делать. Мы особенно ценим в
          людях профессионализм, стрессоустойчивость и ответственность. Прежде
          чем заполнять анкету - подумайте, действительно ли вы готовы брать на
          себя задачи и их выполнять.
        </div>
        <div class="bottom-subtitle">стать учителем</div>
        <div class="bottom-text">
          Можно присоединиться к команде педагогов. Если вы занимаетесь
          чем-нибудь интересным и не особо любите школу, скорее всего вы нам
          подходите.
        </div>
      </div>
      <div id="buttons-wrapper">
        <div class="button-wrapper">
          <div class="button-submit">стать волонтером</div>
        </div>
        <div class="button-wrapper">
          <div class="button-submit">стать учителем</div>
        </div>
      </div>
    </div>
    <div id="image-column">
      <img id="painting-tardigrada" src="/assets/images/painting.png" />
    </div>
  </div>
</div>
