<div id="container">
  <div id="wrapper">
    <form id="form" #addChild="ngForm">
      <div id="inner-form">
        <div class="required-field">
          <div class="input-title">Имя</div>
          <div class="red-asterisk">*</div>
        </div>
        <input
          [(ngModel)]="childData.firstName"
          name="1"
          required
          #firstName="ngModel"
        />
        <div class="required-field">
          <div class="input-title">Фамилия</div>
          <div class="red-asterisk">*</div>
        </div>
        <input
          [(ngModel)]="childData.lastName"
          name="2"
          required
          #lastName="ngModel"
        />
        <div class="required-field">
          <div class="input-title">Дата рождения</div>
          <div class="red-asterisk">*</div>
        </div>
        <input
          class="date"
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="childData.dateOfBirth"
          id="date-picker"
          name="3"
          required
          name="date"
          #dateOfBirth="ngModel"
          (click)="picker.open()"
        />
        <mat-datepicker
          #picker
          startView="multi-year"
          [startAt]="startDate"
        ></mat-datepicker>
        <div class="required-field">
          <div class="input-title">Ваш часовой пояс</div>
          <div class="red-asterisk">*</div>
        </div>
        <app-zone-selector
          name="4"
          [userpage]="true"
          [newstudent]="true"
          (changeTz)="onChangeTz($event)"
        ></app-zone-selector>
        <div class="required-field">
          <div class="input-title">В какой стране вы находитесь?</div>
          <div class="red-asterisk">*</div>
        </div>
        <input [(ngModel)]="childData.country" name="5" required />
        <div class="input-title">e-mail если есть</div>
        <input [(ngModel)]="childData.email" name="6" />
        <div class="input-title">Телеграм если есть</div>
        <input [(ngModel)]="childData.telegram" name="7" />
        <div class="input-title">Какие предметы, которые вам нужны, вы не нашли их в нашем расписании?</div>
        <textarea
          [(ngModel)]="childData.subjects"
          name="8"
          class="high-input"
        ></textarea>
        <div class="input-title">Что-то, что мы забыли спросить</div>
        <textarea
          [(ngModel)]="childData.note"
          name="9"
          class="high-input"
        ></textarea>
        <div id="submit-row">
          <div
            class="circle-container"
            (click)="saveChild()"
            [class.disabled]="!addChild.valid"
          >
            <div class="white-circle">далее</div>
          </div>
        </div>

        <div>{{ saveError }}</div>
      </div>
    </form>
    <img id="animal" src="/assets/images/Animal.png" />
    <img id="bottom-flowers" src="/assets/images/manyellow.png" />
  </div>
</div>
