<div id="wrapper">
  <form id="form" #addChild="ngForm">
    <div id="inner-form">
      <div class="required-field">
        Имя
        <div class="red-asterisk">*</div>
      </div>
      <input
        [(ngModel)]="childData.firstName"
        name="1"
        required
        #firstName="ngModel"
      />
      <div class="required-field">
        Фамилия
        <div class="red-asterisk">*</div>
      </div>
      <input
        [(ngModel)]="childData.lastName"
        name="2"
        required
        #lastName="ngModel"
      />
      <div class="required-field">
        Дата рождения
        <div class="red-asterisk">*</div>
      </div>
      <input
        class="date"
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="childData.dateOfBirth"
        name="3"
        required
        name="date"
        #dateOfBirth="ngModel"
        (click)="picker.open()"
      />
      <mat-datepicker #picker></mat-datepicker>
      <div class="required-field">
        Ваш часовой пояс
        <div class="red-asterisk">*</div>
      </div>
      <input [(ngModel)]="childData.timezone" name="4" required />
      <div class="required-field">
        В какой стране вы находитесь?
        <div class="red-asterisk">*</div>
      </div>
      <input [(ngModel)]="childData.country" name="5" required />
      e-mail если есть
      <input [(ngModel)]="childData.email" name="6" />
      Телеграм если есть
      <input [(ngModel)]="childData.telegram" name="7" />
      Какие предметы, которые вам нужны, вы не нашли их в нашем расписании?
      <textarea [(ngModel)]="childData.subjects" name="8" class="high-input"></textarea>
      Что-то, что мы забыли спросить
      <textarea [(ngModel)]="childData.note" name="9" class="high-input"></textarea>
      <div id="submit-row">
        <div
          class="circle-container"
          (click)="saveChild()"
          [class.disabled]="!addChild.valid"
        >
          <div class="white-circle">далее</div>
        </div>
      </div>

      <div>{{ saveError }}</div>
    </div>
  </form>
  <img id="bottom-flowers" src="/assets/images/manyellow.png" />
</div>
