<div id="weekly-container">
  <div class="daily-container">
    <div
      *ngFor="let hourGroup of scheduleService.lecturesArray[selectedDay]"
      class="row-container"
      [style.display]="
        hourGroup[0].title && hourGroup[1].title ? 'flex' : 'block'
      "
    >
      <div
        *ngFor="let slot of hourGroup"
        [class.half]="hourGroup[0].title && hourGroup[1].title"
      >
        <div *ngIf="slot.title && checkAge(slot.minAge, slot.maxAge)">
          <app-lecture [data]="slot"></app-lecture>
        </div>
      </div>
    </div>
  </div>
</div>
