#footer {
  position: fixed;
  z-index: 101;
  background-color: #220315;
  bottom: 0;
  height: 50px;
  width: 100%;
}

#footer img {
  margin: 0 5px;
  height: 30px;
  width: 30px;
}

#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  margin: 10px;
}
