#container {
  background: #d8d7e1;
  padding: 0 7.7%;
  padding-bottom: 400px;
}

#cover {
  width: 100%;
  height: 378px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#cover-image {
  width: 1792px;
  height: 378px;
}

#account-settings {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#open-settings-button {
  border: 1.3px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
}

#profile {
  display: flex;
  margin-left: 70px;
  padding-top: 15px;
}

#profile-white-line {
  width: 100%;
  border-top: 1.5px solid white;
  margin-top: -115px;
  margin-bottom: 185px;
}

#image-container {
  display: flex;
}

#image-container-teacher {
  display: flex;
}

#name {
  font-size: 45px;
  font-weight: 300;
  padding-left: 80px;
  padding-top: 30px;
}

#profile-image,
.profile-image-children,
.profile-image-child {
  overflow: hidden;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-image {
  height: 220px;
  width: 220px;
}

.profile-image-children {
  height: 116px;
  width: 116px;
  margin: 0;
}

.profile-image-child {
  height: 219px;
  width: 219px;
}

#profile-image > img,
#profile-image-teacher > img,
.profile-image-children > img,
.profile-image-child > img {
  padding-top: 25px;
  transform: scale(0.4, 0.4);
}

#schedule {
  width: 100%;
  margin-bottom: 90px;
}

.under-schedule-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 72px 22%;
  font-family: "Zhizn";
}

.button-wrapper {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 30px;
}

.button-under-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  font-size: 22px;
  line-height: 120%;
  padding: 10px;
  border: 5px solid #d8d7e1;
}

.instruction-container {
  height: 110px;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 100px;
}

.separating-line {
  border-top: 1.5px solid white;
}

.instruction-line {
  color: white;
  font-size: 30px;
}

#course-details {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 144px;
}

#subject-wrapper {
  flex: 1 1 0px;
}

#subject {
  padding-top: 136px;
  font-size: 70px;
  line-height: 120%;
}

#hour {
  font-size: 35px;
  font-family: "Ubuntu";
}

.two-column {
  display: flex;
  font-family: "Zhizn";
  margin-top: 60px;
}

.half-container {
  flex: 1 1 0px;
}

#circle-container {
  border: 1px solid white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-right: 100px;
}

#white-circle {
  background: white;
  color: black;
  font-size: 50px;
  text-align: center;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#telegram-half {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-half,
#children-half,
#weird-half {
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
  font-family: "Zhizn";
  flex-direction: column;
}

.user-textarea {
  height: 180px;
  width: 92%;
  border: 1.5px solid white;
  background: #d8d7e1;
  border-radius: 20px;
  margin: 15px 0;
  padding: 10px;
  font-size: 20px;
}

.purple-button {
  background: #690f46;
  border-radius: 50%;
  border: 1px solid white;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#telegram-half .purple-button {
  margin-bottom: 30px;
}

.purple-under {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.separating-space {
  height: 100px;
}

#profile-image-border,
.profile-image-border-children {
  border: 2px solid white;
  border-radius: 50%;
}

.profile-image-border-child {
  border: 2px solid white;
  border-radius: 50%;
}

#child-anchor,
#course-anchor {
  position: absolute;
  top: 100px;
}

.anchor-container {
  position: relative;
}

.download-button {
  color: white;
}

.material-icons::ng-deep {
  font-size: 30px;
  height: 30px;
  width: 30px;
}