<div id="cover">
  <img id="cover-image" src="/assets/images/default-cover.jpeg"/>
</div>
<div id="container">
  <div id="header">
    <div id="profile">
      <div id="image-container">
        <div id="profile-image-border">
          <div id="profile-image">
            <img src="/assets/images/profile-default.jpg" />
          </div>
        </div>
      </div>
      <div id="name">
        Имя Фамилия
      </div>
    </div>
  </div>

  <div id="schedule">
    <div>
      <app-user-schedule [userId]="userId"></app-user-schedule>
    </div>
  </div>

  <div id="under-schedule-buttons">
    <div class="button-under-schedule">к предметам</div>
    <div class="button-under-schedule">домашние задания</div>
    <div class="button-under-schedule">добавить свии дела</div>
  </div>

  <div class="separating-line">
    Чтобы перейти к другим предметам кликните на расписание
  </div>

  <div class="separating-line">
  </div>

  <div class="separating-line">
  </div>

  <div id="course-details">
    <div id="subject">
      {{scheduleService.selectedLecture.title}}
    </div>
    <div id="hour">
      {{scheduleService.selectedLecture.hour}}
    </div>
  </div>

  <div id="buttons-container">
    <div id="profile-teacher">
      <div id="image-container-teacher">
        <div id="profile-image-border-teacher">
          <div id="profile-image-teacher">
            <img src="/assets/images/profile-default.jpg" />
          </div>
        </div>
      </div>
      <div id="name-teacher">
        {{scheduleService.selectedLecture.teacher}}
      </div>
    </div>

    <div id="center-button-container">
      <div id="center-button">
        взять на урок
      </div>
    </div>
  
    <div id="black-circle">
      на урок
    </div>
  </div>

  <div class="separating-space"></div>

  <div id="form-container">
    <div id="form-first-line">
      <div class="buttom-cont">о курсе</div>
      <div class="buttom-cont">чат с преподавателем</div>
      <div class="buttom-cont">воркбук</div>
    </div>
  
    <div id="form-text-container">
      <div id="inner-part">
        <div id="placeholder">
          дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз
          з дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз з дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз дз
        </div>
        <input id="form-text">
        <div id="black-button-container">
          <div id="black-button">отправить</div>
        </div>
      </div>
    </div>
  </div>

</div>
