#profile-teacher {
  padding-top: 75px;
  display: flex;
  flex: 1 1 0px;
}

#name-teacher {
  font-size: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 87px;
  line-height: 120%;
}

#name-title {
  font-size: 28px;
  font-weight: 300;
}

#profile-image-teacher {
  height: 220px;
  width: 220px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-image-border-teacher {
  border: 2px solid white;
  border-radius: 50%;
  height: 224px;
  width: 224px;
}

#form-title {
  font-family: "Zhizn";
  font-size: 24px;
}

#form-container {
  display: flex;
}

#last-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#last-button {
  font-family: "Zhizn";
  margin-left: 30px;
}

#bottom-purple {
  margin: 0;
}
