#profile-teacher {
  padding-top: 75px;
  display: flex;
  flex: 1 1 0px;
}

#name-teacher {
  font-size: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 87px;
}

#name-title {
  font-size: 28px;
  font-weight: 300;
}

#profile-image-teacher {
  height: 220px;
  width: 220px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-image-border-teacher {
  border: 2px solid white;
  border-radius: 50%;
}

#profile-image-border {
  border: 2px solid white;
  border-radius: 50%;
}

#schedule {
  width: 100%;
}

#under-schedule-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 72px 22%;
  font-family: "Zhizn";
}

.button-wrapper {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 30px;
}

.button-under-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  font-size: 22px;
  line-height: 120%;
  padding: 10px;
  border: 5px solid #d8d7e1;
}

#instruction-container {
  height: 110px;
  border-top: 1px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#separating-line {
  border-top: 1px solid white;
}

#instruction-line {
  color: white;
  font-size: 32px;
  font-weight: 300;
}

#course-details {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 144px;
}

#subject-wrapper {
  flex: 1 1 0px;
}

#subject {
  padding-top: 136px;
  font-size: 70px;
  font-family: "Zhizn";
}

#hour {
  line-height: 50px;
  font-size: 35px;
}

#buttons-container {
  display: flex;
  font-family: "Zhizn";
}

.half-container {
  flex: 1 1 0px;
}

#circle-container {
  border: 1px solid white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-right: 100px;
}

#white-circle {
  background: white;
  color: black;
  font-size: 65px;
  text-align: center;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#telegram-half {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#form-half {
  display: flex;
  justify-content: center;
  font-size: 26px;
  flex-direction: column;
}

#first-form {
  width: 90%;
  height: 200px;
  border: 1.5px solid white;
  background: #d8d7e1;
  border-radius: 20px;
  margin-top: 24px;
  padding: 10px;
}

.bottom-form {
  width: 90%;
  height: 200px;
  border: 1.5px solid white;
  background: #d8d7e1;
  border-radius: 20px;
  margin-top: 24px;
  padding: 10px;
  margin-right: 40px;
}

#form-title {
  font-family: "Zhizn";
  font-size: 24px;
}

.purple-button {
  background: #690f46;
  border-radius: 50%;
  border: 1px solid white;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.separating-space {
  height: 100px;
}

#form-container {
  display: flex;
}

#last-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#last-button {
  font-family: "Zhizn";
  margin-left: 30px;
}

#bottom-purple {
  margin: 0;
}
