<div id="background">
    <div id="top-passage">
        Nomadic Tardigrade is an online educational project<br>
        for children who have found themselves outside the educational system<br>
        due to the ongoing Ukrainian-Russian conflict.
    </div>
  
    <div id="mobile-separation"></div>
  
    <div class="container" id="first-container">
      <div class="text">
        <div class="title" id="first-title">
            <br class="mobile-only">Who is <br class="mobile-only">accepted<br class="mobile-only"> to our school?<br class="mobile-only"><br class="mobile-only">
        </div>
        <div class="passage">
            We don’t judge people by the color of their skin and don’t check whether it was their physical home or their routine that crumbled. Our concern and care extend to every child without access to education.
        </div>
      </div>
      <div class="image five-image">
        <img id="five" src="/assets/images/five.png" />
      </div>
    </div>
  
    <div class="container" id="second-container">
      <div class="image mobile-none">
        <img id="baloon" src="/assets/images/baloon.png" />
      </div>
      <div class="text">
        <div class="title" id="second-title">
            Do we have to pay?
        </div>
        <div class="passage">
            If you find yourself in a difficult situation and your kid are unable to attend school - all classes are free of charge.
            <br><br>
            We work for everyone and would love to serve as a supplementary educational resource for your children. If you are not displaced and are able to do so, we would appreciate any contribution you deem appropriate. Currently, your donations are our sole source of support.
        </div>
        <div class="image mobile-only">
          <img id="fossil" src="/assets/images/fossil.png" />
        </div>
        <div class="title" id="third-title">
            Who are we and what do we do?
        </div>
        <div class="passage">
            We witnessed the helplessness that many teachers experienced with the onset of the war. When something awful like that happens, sometimes the most important thing is to actively do something - something that is NOT evil. We posted on social media, offering a couple of educational groups free of charge. The next day, Nomadic Tardigrade was born.
            <br><br>
            Tardigrade is more than just a school; in reality, it functions as a society of like-minded individuals. Children attend classes, parents listen in, and often request additional classes for themselves. Many people form friendships through our platform and, if they find they are in the same location, continue their communication offline.
            <br>
        </div>
      </div>
    </div>
  
    <div class="container" id="third-container">
      <div class="text">
        <div class="passage">
          <div class="image mobile-only">
            <img id="orange-umbrella" src="/assets/images/orange-umbrella.png" />
          </div>
          <br><br>
          All of our teachers are passionate educators who feel uneasy within the confines of the traditional educational system. They detest the cookie-cutter lesson planning, the meticulous class journal entries, and grading. Despite this, these teachers hold profound knowledge of their subjects and treat their students with utmost respect. We live in various parts of the world, and this project unites us. We eagerly participate in teacher discussion sessions because they are enjoyable; we love debating how many legs the tardigrade would wear pants on.
          <br><br>
          The most important part of a class for us is that it has a meaning. We want the material to feel relevant and we want the kids to be genuinely engaged. And we aren’t shy to give homework!
        </div>
      </div>
      <div class="image mobile-none">
        <img id="fossil" src="/assets/images/fossil.png" />
      </div>
    </div>
  
    <div class="container" id="fourth-container">
      <div class="image mobile-none">
        <img id="orange-umbrella" src="/assets/images/orange-umbrella.png" />
      </div>
      <div class="image mobile-only">
        <img id="baloon" src="/assets/images/baloon.png" />
      </div>
    </div>