.day-title {
  color: rgb(26, 34, 62);
  width: 100%;
  border-bottom: 1px solid rgb(26, 34, 62);
  margin-top: 44px;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 4px;
}

.day-name {
  font-family: "Zhizn";
  font-size: 26px;
}

.day-date {
  font-weight: 300;
}

.lecture-line {
  display: flex;
  padding-bottom: 14px;
  color: rgb(75, 96, 133);
}

.wrapped-part {
  display: flex;
  flex-wrap: wrap;
  padding-left: 49px;
}

.lecture-time {
  font-size: 20px;
  min-width: 110px;
}

.lecture-title {
  color: rgb(26, 34, 62);
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 7px;
  padding-right: 6px;
}

.lecture-teacher {
  padding-right: 6px;
  font-size: 21px;
}

.lecture-age {
  font-style: italic;
  font-size: 21px;
  padding-right: 6px;
}

.lecture-link {
  padding-right: 6px;
}

.lecture-link img {
  height: 25px;
  margin-top: -3px;
}

.attendance {
  cursor: pointer;
  font-size: 24px;
  line-height: 60%;
  width: 20px;
  height: 20px;
  background-color: rgb(75, 96, 133);
  color: rgb(204, 206, 220);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%;
  margin-right: 6px;
}

@media screen and (min-width: 1261px) {
  .wide-none {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  .narrow-none {
    display: none;
  }

  .day-name {
    font-size: 20px;
  }

  .lecture-line {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .lecture-title {
    font-size: 25px;
    padding-bottom: 14px;
  }

  .day-date {
    font-size: 15px;
  }

  .day-title {
    margin-bottom: 35px;
  }

  .mobile-last {
    display: flex;
    font-weight: 300;
  }

  .lecture-teacher {
    font-weight: 300;
    padding-bottom: 12px;
  }

  .lecture-age {
    font-style: normal;
  }

  .lecture-time {
    padding-right: 6px;
  }

  .wrapped-part {
    padding-left: 0;
  }
}
